<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/researcher_head'); %>
    </head>
    <body >

        <div id="researcher-app">
            <%- include('../partials/admin_header'); %>
            
            <div style="padding:0 15px">
                <div class="row justify-content-center ">
            
                    <div class="col-md-2">
                        <%- include('../partials/admin_side_nav'); %>
                    </div>
            
                    <div class="col-md-10">
            
                        <%- body %>
                        
            
                    </div>
            
                    
                </div>
            </div>
            
            <%- include('../partials/researcher_footer'); %>
        </div>

    </body>
    
</html>
