<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/customer_head'); %>
    </head>
    <body >

        <div id="customer-app">
            <%- include('../partials/customer_header'); %>
            
            <div class="container">
                <div class="row justify-content-center ">
            
                    <div class="col-md-3">
                        <%- include('../partials/customer_side_nav'); %>
                    </div>
            
                    <div class="col-md-9">
            
                        <%- body %>
                        
            
                    </div>
            
                    
                </div>
            </div>
            
            <%- include('../partials/customer_footer'); %>
        </div>

    </body>
    
</html>
