<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Edit User
    </h2>

    <% if(user) { %>


    <form class="row" action="/njs-admin/manage/user/edit/<%= user._id %>" method="post" encType="multipart/form-data">

    

        <div class="col-md-12">
            <hr>

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" value="<%= user.name %>" placeholder="" name="name">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" value="<%= user.email %>" placeholder="" name="email">
            </div>

            <div class="form-group">
                <label>Role</label>
                <select class="form-control" name="role">
                    <option value="Customer" <%= user.role == "Customer" ? "selected" : "" %>>Customer</option>
                    <option value="Researcher" <%= user.role == "Researcher" ? "selected" : "" %>>Researcher</option>
                    <option value="Attorney" <%= user.role == "Attorney" ? "selected" : "" %>>Attorney</option>
                    <option value="Admin" <%= user.role == "Admin" ? "selected" : "" %>>Admin</option>
                </select>
            </div>



        </div>

       

        <div class="col-md-12">
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Update</button>
            </p>
        </div>

    </form>
    <% } %>
</div>
        

