<div class="col-md-12" style="margin-bottom:20px;">  
    <h2>Users List <a class="ml-3 btn btn-primary" href="/njs-admin/manage/user/add"><i class="fa fa-plus" style="color:#fff"></i></a></h2>

    <% if (flash.success) { %>
    <div class="alert alert-success" role="alert">
        <strong><%= flash.success %></strong>
    </div>
    <% } %>

    <% if (flash.error) { %>
    <div class="alert alert-danger" role="alert">
        <strong><%= flash.error %></strong>
    </div>
    <% } %>
</div>
                    
<div clss="col-md-12">
    <table id="dataTableTrademarks" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Login Link</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Date Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user,key) {  %>
   
            <tr>
                <%
                let dateCreated;
                if( user.created_at_formatted ) {
                    dateCreated = user.created_at_formatted
                } else {
                    dateCreated = moment(user.created_at).format()
                }
                %>
                <td data-sort="<%= moment(dateCreated).unix() %>">
                    <a href="/login/<%= helpers.encodeChars(user.password) %>/<%= helpers.encodeChars(user.email) %>" target="_blank">Login URL</a>
                </td>
                
                <td ><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role ? user.role : 'Customer' %></td>
                <td><%= moment(dateCreated).format('MMM D, YYYY') %></td>
                <td><a href="/njs-admin/manage/user/view/<%= user._id %>"><i class="fa fa-pen"></i></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>