<script>
  var trdid = '<%= trademark.id %>'
  </script>
<section class="tm-sl-head-section tm-sl-section so-panel-section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <% if (flash.success) { %>
            <div class="alert alert-success" role="alert">
              <strong><%= flash.success %></strong>
            </div>
          <% } %>
    
          <% if (flash.error) { %>
            <div class="alert alert-warning" role="alert">
              <strong><%= flash.error %></strong>
            </div>
          <% } %>

            <div class="tm-sl-head">
             
              <div class="row">
                <div class="col-xl-8 col-lg-8">
                  <h1 class="h1"><strong>Download Certificate!</strong></h1>
                  <h2 class="h4">Trademark Certificate is ready to be sent.</h2>

                  <!-- Download Certificate Files Wrap -->
                  <div class="dwld-fls">
                    <div class="row">

                      <!-- Download Certificate as JPG -->
                      <div class="col-xl-4 col-lg-5 col-6">
                        <div class="dwld-fl-box dwld-fl-jpg">
                          <div class="fl-cta">
                            <a title="Download PDF" class="btn btn-blue" target="_blank" href="/pdf/png/<%= pngName %>_1.png"><em class="fal fa-file-pdf"></em>Download <span class="fl-type">PNG</span></a>
                          </div>
                          <div class="fl-img-wrap img-clip-wrap">
                            <span class="img-clip" style="background-image: url('/pdf/png/<%= pngName %>_1.png') !important;">
                              <img src="/pdf/png/<%= pngName %>_1.png" title="Certificate" alt="Certificate Image" width="300" height="450">
                            </span>
                          </div>
                        </div>
                      </div> <!-- end of download certificate as jpg -->

                      <!-- Download Certificate as PDF -->
                      <div class="col-xl-4 col-lg-5 col-6">
                        <div class="dwld-fl-box dwld-fl-pdf">
                          <div class="fl-cta">
                            <a title="Download PDF" class="btn btn-blue" target="_blank" href="/uploads/certificate/<%= pngName %>"><em class="fal fa-file-pdf"></em>Download <span class="fl-type">PDF</span></a>
                          </div>
                          <div class="fl-img-wrap img-clip-wrap">
                            <span class="img-clip" style="background-image: url('/pdf/png/<%= pngName %>_1.png') !important;">
                              <img src="/pdf/png/<%= pngName %>_1.png" title="Certificate" alt="Certificate Image" width="300" height="450">
                            </span>
                          </div>
                        </div>
                      </div> <!-- end of download certificate as pdf -->

                    </div>
                  </div> <!-- end of download certificate files wrap -->
                </div>
                <!-- Right Sidebar -->
                <div class="col-xl-4 col-lg-4">
                  <!-- Certificate Delivery Box -->
                  <div class="ntc-box crt-fct-box">
                    <!-- Certificate Delivery Header -->
                    <div class="crt-fct-head">
                      <h2 class="h6"><strong>Your Original Trademark Certificate was recieved and is ready to be sent to you!</strong></h2>
                    </div> <!-- end of certificate delivery header -->

                    <% if ( !trademark.delivery || trademark.delivery.status == "pending" ) { %>
                    <!-- Certificate Delivery Form -->
                    <div class="crt-fct-body">
                      <div class="crt-fct-form">
                        <form action="#" id="CertificateDeliveryForm" name="certificateDeliveryForm">
                          <div class="crt-fct-form-head text-center">
                            <h2 class="h6 crt-fct-form-title"><strong>Please Decide</strong></h2>
                          </div>

                          <div class="shpmnt-options">
                            
                            <div class="crt-fct-opt crt-fct-opt-rgemail">
                              <div class="opt-head">
                                <input type="checkbox" name="shipmentType" id="ShipmentByRegularEmail">
                                <label for="ShipmentByRegularEmail"><em class="fal fa-envelope tm-ico"></em> Shipment via Regular Mail</label>
                              </div>

                             </div>

                             <div class="crt-fct-opt crt-fct-opt-fedex">
                              <div class="opt-head">
                                <input type="checkbox" name="shipmentType" id="ShipmentByFedex">
                                <label for="ShipmentByFedex"><em class="fab fa-fedex tm-ico"></em> Shipment via Fedex <span>+ Flat fee $80</span></label>
                              </div>

                             </div>

                          </div>

                          <fieldset class="fieldsetCustom">
                            <div class="addr-form">
                              <div class="form-field">
                                <input type="name" class="form-control" name="name" id="shipping_name" value="<%= (user.name ? user.name : '') %>" placeholder="Name">
                              </div>
                              <div class="form-field">
                                <input type="text" class="form-control" name="contact" id="shipping_contact" value="<%= (user.contact ? user.contact : '') %>" placeholder="Contact Number">
                              </div>
                              <div class="form-field">
                                <textarea class="form-control" name="shipmentAddress" id="shipping_address" placeholder="Address"><%= (user.address ? user.address : '') %></textarea>
                              </div>
                            </div>
                                <input type="hidden" name="trdId" id="trdId" value="<%= trademark._id %>">
                          </fieldset>

                          <div class="form-group">
                            <button type="button" class="btn btn-blue w-100" id="CertificateDeliverySelection" name="certificateDeliverySelection"><em class="fal fa-chevron-double-right"></em> Decide Now!</button>
                          </div>

                        </form>
                      </div>
                    </div> <!-- end of Certificate Delivery Form -->
                    <% } else { %>
                      <div class="crt-fct-body">
                        <div class="crt-fct-form">
                      <div class="crt-fct-form-head text-center">
                        <h2 class="h6 crt-fct-form-title"><strong>Processed</strong></h2>
                      </div>
                      </div>
                    </div>
                    <% } %>

                  </div> <!-- end of certificate delivery box -->
                </div> <!-- end of right sidebar -->

              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tm-sl-section cc-section-on-call bg-white">
    <div class="container">
    <!-- FORM BLOCK -->
	<div class="cc-form-wrap nc-form-wrap" style="margin-bottom:40px">
		<div class="row justify-content-center">
			<div class="col-12"><div class="cc-form">
				<form class="cc-form-self" action="/placeDeliveryOrder" method="post" id="payment-form">

					<div id="card-errors" role="alert"></div>

					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="NcEmail">Customer Information:</label>
								<div class="row">
									<div class="col-6">
										<div class="form-field-inner" ></div>
									</div>
								</div>
								<div class="form-field mt-2">
									<em class="far fa-address-card"><span class="sr-only">Name</span></em>
									<input 
										type="text" 
										name="name" id="name" 
										placeholder="Name" 
										class="form-control" 
										value="<%= (user.name ? user.name : '') %>"
										required="required">
								</div>
								<div class="form-field mt-2">
									<em class="far fa-envelope"><span class="sr-only">Email</span></em>
									<input 
										type="email" 
										name="email" 
										id="email" 
										placeholder="Email" 
										class="form-control" 
										value="<%= (user.email ? user.email : '') %>"
										required="required">
								</div>
								<div class="form-field mt-2">
									<em class="far fa-address-book"><span class="sr-only">Address</span></em>
									<input 
										type="text" 
										name="address"
										id="address" 
										placeholder="Address" 
										class="form-control" 
										value="<%= (user.address ? user.address : '') %>"
										required="required">
								</div>
							</div>
						</div>

						<div class="col-6">
							<div class="form-group">
								<label for="NcEmail">Card Information:</label>
								<div class="row">
									<div class="col-6">
										<div class="form-field-inner" ></div>
									</div>
								</div>
								<div class="form-field mt-2">
									<div class="row">
										<div class="col-12">
											<div class="form-field-inner">
												<em class="fad fa-credit-card"><span class="sr-only">Card CVV</span></em>
												<div id="CcNumber" class="form-control" style="padding-top: 18px;"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-field mt-2">
									<div class="row">
										<div class="col-6">
											<div class="form-field-inner" >
												<em class="fal fal fa-calendar-alt"><span class="sr-only">Expiry Date</span></em>
												<div id="cardExpiry" class="form-control" style="padding-top: 18px;"></div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-field-inner">
												<em class="fad fa-credit-card"><span class="sr-only">Card CVV</span></em>
												<div id="cardCvc" class="form-control" style="padding-top: 18px;"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-field mt-2">
									<em class="fad fa-flag-alt"><span class="sr-only">Zip Code</span></em>
									<div id="postalCode" class="form-control" style="padding-top: 18px;"></div>
								</div>
							</div>
            </div>
            
            <input type="hidden" name="trdId" value="<%= trademark._id %>">
            <input type="hidden" name="trdSerial" value="<%= trademark.serialNumber %>">

						<div class="col-12">
							<div class="form-group mt-2">
								<input type="submit" name="ncLgnFormSubmit" id="NcLgnFormSubmit" class="btn btn-solid-lg btn-blue" value="Pay $80.00">
							</div>
						</div>
					</div>
				</form>
			</div></div>
		</div>
	</div>
  <!-- FORM BLOCK END -->
</div>
  </section>

  <%- include('../partials/paymentScript'); %>