<section class="tm-sl-head-section tm-sl-section qa-panel-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <% if (flash.success) { %>
          <div class="alert alert-success" role="alert">
              <strong><%= flash.success %></strong>
          </div>
      <% } %>
  
      <% if (flash.error) { %>
          <div class="alert alert-warning" role="alert">
              <strong><%= flash.error %></strong>
          </div>
      <% } %>
        <h1 class="h1"><strong>Payment Page</strong></h1>
        <hr>
      </div>

      <% if (action) { %>
        <% if (action.actionType == 'sou notification') { let price = 250; %>
        <!-- SOU -->
        <div class="col-12">
          <div class="tm-sl-head">
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <% if ( action.response == 'Statement of Use' ) { price = 250; %>
                <h2 class="h4">STATEMENT OF USE SERVICE</h2>
                <p>According to the rules of the United States Patent and Trademark Office (USPTO), you must declare the use of your trademark by filing a “Statement of Use” for your trademark application.</p>
                <% } else {  price = 175; %>
                  <h2 class="h4">Trademark Extension SERVICE</h2>
                <p>I have not launched my product and/or service, and need an extension for the trademark allowance</p>
                <% } %>
              </div>
              <div class="col-xl-12 col-lg-12">
                
                <table class="table table-reponsive">
                  <tr>
                    <th>Mark</th>
                    <th>Classes</th>
                    <th>Deadline Date</th>
                    <th>Amount</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td><%= action.trademark.name %></td>
                    <td><%= action.trademark.classes %></td>
                    <td><%= moment(action.deadlineDate).format('MMM D, YYYY') %></td>
                    <td>
                      <% 
                      
                      let declareClass = action.trademark.classes.split(',');
                      %>

                      USD <%= (price * declareClass.length) %>
                     
                    </td>
                    <td><form action="/checkout/<%= action.number %>" method="POST" class="text-center">
                      <input type="hidden" name="action" value="<%= action.number %>">
                      <script
                          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="pk_test_8IWnZ5BFL6cRN27ZARs8qB9Q00PET9ihlr"
                          data-name="TRADEMARKERS LLC"
                          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                          data-locale="auto">
                      </script>
                    </form></td>
                  </tr>
                </table>
              </div>

              <div class="col-xl-5 col-lg-4">
                
              </div>
              
            </div>
          </div>

        </div>

        <!-- end SOU -->
        <% } %>

      <% } else { %>
        <div class="col-6" style="margin:auto">

          
          <form action="/checkout/form" method="POST" >
            
            <input type="text" class="form-control" name="action" value="client">
            <div class="form-group">
              <label>
                  <b> Client Name </b>
              </label>
              <input type="text" class="form-control" name="name" required>
            </div>

            <div class="form-group">
              <label>
                  <b> Amount </b>
              </label>
              <input type="text" class="form-control" name="price" required>
            </div>

            <div class="form-group">
              <label>
                  <b> Description </b>
              </label>
              <textarea class="form-control" name="description" required></textarea>
            </div>
            
            <div class="form-group">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_8IWnZ5BFL6cRN27ZARs8qB9Q00PET9ihlr"
                data-name="TRADEMARKERS LLC"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
              </script>
            </div>

            
          </form>
        </div>

      <% }%>


    </div>
  </div>
</section>
