<% if (action && action.trademark) { %>
<section class="tm-sl-head-section tm-sl-section qa-panel-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          
            <div class="tm-sl-head">
              <div class="row">
                <div class="col-xl-9 col-lg-8">
                  
                  <h1 class="h1"><strong>IMPORTANT NOTICE:</strong></h1>
                  <h2 class="h4">STATEMENT OF USE DUE FOR YOUR TRADEMARK <%= action.trademark.name %></h2>
                  <p class="h6">A “Statement of Use” must be filed for your U.S. Trademark Application!</p> 
                  <p>According to the rules of the United States Patent and Trademark Office (USPTO), you must declare the use of your trademark by filing a “Statement of Use” for your trademark application.</p>
                  <p>From the time the USPTO communicates that your trademark can be registered in principle, you usually have 6 months to either:</p>
                </div>
                <div class="col-xl-3 col-lg-4">
                  <div class="ntc-box">
                      <div class="nt-bx-head"><h2 class="h6 mb-0"><strong>Important Legal Notice</strong></h2></div>
                      <div class="nt-bx-body">
                        
                        <p class="tm-appl-info">A “Statement of Use” must be filed for your U.S. Trademark Application! </p>
                      </div>
                      <div class="nt-bx-footer">
                        <p class="dline text-center mb-0">Deadline: <span class="text-red dline-time"><%= moment(action.deadlineDate).format('MMM D, YYYY') %></span></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tm-sl-body or-wrap">
              <div class="row">
                <div class="col-xl-9 col-lg-12">
                  <div class="or-area or-area-a">
                    <h2 class="h6 or-area-p">Declare that you are actually using it</h2>
                  </div>
                  <div class="or-seperator"><span class="or-label">or</span></div>
                  <div class="or-area or-area-b">
                    <h2 class="h6 or-area-p">Ask for an extension of that time frame (and pay a fee)</h2>
                  </div>
                </div>

                <div class="col-xl-9 col-lg-8">
                  <p>If you are based in the United States, you can do that yourself, but if not,
                    you have to retain an attorney to file one of the above. </p>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </div>
  </section>


  <section class="tm-sl-section bg-white">
    <div class="container">
      <div class="faq-row">
          <h2 class="h3">WHAT DOCUMENTATION DO I NEED?</h2>
          <p>In order to file a “Statement of Use”, you need to include what the USPTO calls “Specimens” – for example in form of printed/scanned evidence that your product or service actually exists. If you applied for a service mark, and your services are offered over the Internet, you can submit a screen grab of your website (however you must date when the screen grab was made, and sign for its authenticity). </p>
      </div>
      <div class="faq-row">
        <h2 class="h3">WHAT HAPPENS IF I DO NOT FILE A STATEMENT NOW?</h2>
        <p>If you do not file either an extension or a Statement of Use, your trademark will be cancelled.</p>
      </div>
    </div>
  </section>

  <section class="tm-sl-section ttl-tltp-wrap bg-offwhite">
    <div class="container pb-half">
      <h2 class="h2 tm-sl-title text-center">PLEASE PROVIDE US FEEDBACK:</h2>
      <div class="tm-plans">
        <div class="row eql-col-h">
            <div class="col-sm-4">
              <div class="tm-plan">
                <div class="tm-plan-head">
                  <!-- <h2 class="h5 tm-plan-title">Trademark Registration</h2> -->
                  <!-- <p>in a major jurisdiction:</p> -->
                </div>
                <div class="tm-plan-body">
                  <p>I am selling the products or services now and want Trademarkers to file a “Statement of Use”
                    <br><br>
                    Our fees: $150.00
                    <br> <br>
                    Government fees: $100.00</p>
                </div>
                <div class="tm-plan-footer">
                    
                    <form class="frm-sou" data-action="<%= action._id %>" data-action-number="<%= action.number %>" data-respond="1" action="" method="post">
                      <input type="hidden" name="word_mark" value="<%= action.trademark.name %>">
                      <input type="hidden" name="service" value="Statement of Use">
                      <input type="hidden" name="case_number" value="<%= action.trademark.case_number %>">
                      <input type="hidden" name="class" value="<%= action.trademark.classes %>">
                      <input type="hidden" name="user_id" value="<%= action.trademark.user_id %>">
                      <input type="hidden" name="trd_id" value="<%= action.trademark.id %>">
                      <input type="hidden" name="type" value="Service">
                      <input type="hidden" name="country" value="us">
                      <input type="hidden" name="action" value="add-cart">
                      <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <input class="btn btn-red" type="submit" name="submit" value="Order Now">
                        </div>
                    </div>
                      
                  </form>
                    <!-- <a href="#" title="Order Now" class="btn btn-red">Order Now</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tm-plan">
                <div class="tm-plan-head">
                  <!-- <h2 class="h5 tm-plan-title">Trademark Registration</h2>
                  <p>in a smaller market (less expensive)</p> -->
                </div>
                <div class="tm-plan-body">
                  <p>I have not launched my product and/or service, and need an extension for the trademark allowance
                    <br><br>
                    Our fees: $50.00
                    <br><br>
                    Government fees: $125.00</p>
                </div>
                <div class="tm-plan-footer">
                  <form class="frm-sou" data-action="<%= action._id %>" data-action-number="<%= action.number %>" data-respond="2" action="" method="post">
                    <input type="hidden" name="word_mark" value="<%= action.trademark.name %>">
                    <input type="hidden" name="service" value="Extension for trademark allowance">
                    <input type="hidden" name="case_number" value="<%= action.trademark.case_number %>">
                    <input type="hidden" name="class" value="<%= action.trademark.classes %>">
                    <input type="hidden" name="user_id" value="<%= action.trademark.user_id %>">
                    <input type="hidden" name="trd_id" value="<%= action.trademark.id %>">
                    <input type="hidden" name="type" value="Service">
                    <input type="hidden" name="country" value="us">
                    <input type="hidden" name="action" value="add-cart">
                    <div class="form-group row">
                      <div class="col-md-12 text-center">
                          <input class="btn btn-red" type="submit" name="submit" value="Order Now">
                      </div>
                  </div>
                    
                </form>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="tm-plan">
                <div class="tm-plan-head">
                  <!-- <h2 class="h5 tm-plan-title">Trademark Registration</h2>
                  <p>Provides you the information where a trademark registration is likely to succeed and where not.</p> -->
                </div>
                <div class="tm-plan-body">
                  <p>I want to handle the matter myself!
                    <br></br>
                    If you want to handle the trademark yourself or appoint another attorney, please click here</p>
                </div>
                <div class="tm-plan-footer">
                    <a href="#" data-action="<%= action._id %>" data-action-number="<%= action.number %>" data-respond="3" title="Decline" class="btn btn-red btn-form-update">Decline</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <% } else { %>
    <section class="tm-sl-section bg-white">
      <div class="container">
        <div class="faq-row">
            <h2 class="h3">Sorry, no data found</h2>
        </div>

      </div>
    </section>
    <% } %>