<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
		
			<h2>Cart</h2>

			<% if (cartItems && cartItems.length) { %>
			<table class="table">
				<tr>
					<th>Country</th>
					<th>Service</th>
					<th>Type</th>
					<th>Mark</th>
					<th>Class</th>
					<th>Price</th>
					<th></th>
				</tr>
				<% for(let i=0; i < cartItems.length; i++) { %>
					<tr>
						<th><%= cartItems[i].country.name ? cartItems[i].country.name : cartItems[i].country %></th>
						<th><%= cartItems[i].serviceType ? cartItems[i].serviceType : '' %></th>
						<th><%= cartItems[i].type ? cartItems[i].type : '' %></th>
						<th><%= cartItems[i].word_mark ? cartItems[i].word_mark : '' %></th>
						<th><%= cartItems[i].class ? cartItems[i].class : '' %></th>
						<th><%= formatter.format(cartItems[i].price) %></th>
						<th><span class="removeCartItem" data-id="<%= cartItems[i]._id %>"><i class="fa fa-trash"></i></span></th>

					</tr>
				<% } %>

				<tr>
					<th colspan="5"><p class="text-right">Total Amount:</p></th>
					<th><%= formatter.format(totalAmount) %></th>
				</tr>
			</table>
			<% } else { %>
				<p>Sorry, Cart Empty</p>
			<% } %>

			<% if (cartItems && cartItems.length) { %>
			<div class="col-12">
				<div class="form-group mt-2 text-center">
					<% if( !guest ) {%>
						<a href="/checkout" class="btn btn-primary btn-black tn-rounded-primary">Proceed to Checkout</a>
					<% } else { %>
						<a href="/checkout?uid=<%= guest._id %>" class="btn btn-primary btn-black tn-rounded-primary">Proceed to Checkout</a>
					<% } %>
					<!-- <input type="button" name="ncLgnFormSubmit" id="NcLgnFormSubmit" class="btn btn-solid-lg btn-blue" value="Proceed to checkout"> -->
				</div>
			</div>
			<% } else { %>
			<div class="col-12">
				<div class="form-group mt-2 text-center">
					<a href="/countries" class="btn btn-primary btn-black tn-rounded-primary">Select a Country</a>
				</div>
			</div>
			<% } %>
			

		</div>


	</div>
</div>