<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
		
			<h2>Confirm Order</h2>

			<table class="table">
				<tr>
					<th>Country</th>
					<th>Service</th>
					<th>Type</th>
					<th>Mark</th>
					<th>Class</th>
					<th>Price</th>
				</tr>
				<tr>
					<td><%= country.name %></td>
					<td><%= data.serviceType %></td>
					<td><%= data.type %></td>
					<td><%= data.word_mark %></td>
					<td><%= data.class %></td>
					<td>$<%= amount %></td>
				</tr>
			</table>


			<% if( user ) { %>

			<form id="addToCart" method="POST" action="/add-to-cart">
				<div class="form-group row">
					<div class="col-md-12 text-center">
						<input class="" type="hidden" name="logoName" value="<%= data.logoName %>">
						<input class="" type="hidden" name="countryId" value="<%= data.countryId %>">
						<input class="" type="hidden" name="serviceType" value="<%= data.serviceType %>">
						<input class="" type="hidden" name="type" value="<%= data.type %>">
						<input class="" type="hidden" name="word_mark" value="<%= data.word_mark %>">
						<% 
							
							for (let i=0; i < data.class.length; i++) {
							
						%>
							<input class="" type="hidden" name="class" value="<%= data.class[i] %>">
							<input class="" type="hidden" name="description" value="<%= data.description[i] %>">
						<% } %>

						<input class="btn btn-primary btn-black tn-rounded-primary" type="submit" value="Add to cart">
					</div>
				</div>
			</form>

			<% } else { %>
			<form id="addToCart" method="POST" action="/add-to-cart">
				<div class="form-group guest-form">
					<div class="col-6 text-center">
						<input class="" type="hidden" name="action" value="notLogin">
						<input class="" type="hidden" name="logoName" value="<%= data.logoName %>">
						<input class="" type="hidden" name="countryId" value="<%= data.countryId %>">
						<input class="" type="hidden" name="serviceType" value="<%= data.serviceType %>">
						<input class="" type="hidden" name="type" value="<%= data.type %>">
						<input class="" type="hidden" name="word_mark" value="<%= data.word_mark %>">
						<% 
							
							for (let i=0; i < data.class.length; i++) {
							
						%>
							<input class="" type="hidden" name="class" value="<%= data.class[i] %>">
							<input class="" type="hidden" name="description" value="<%= data.description[i] %>">
						<% } %>

						<div class="col-12">
							<div class="form-group row box-form">
								<label for="NcEmail">Customer Information:</label>
				
								<div class="form-field mt-2">
									<input 
										type="text" 
										name="name" id="name" 
										placeholder="Name" 
										class="form-control" 
										required="required">
								</div>
								<div class="form-field mt-2">
									<input 
										type="email" 
										name="email" 
										id="email" 
										placeholder="Email" 
										class="form-control" 
										required="required">
								</div>
								<div class="form-field mt-2">
									<input 
										type="text" 
										name="address"
										id="address" 
										placeholder="Address" 
										class="form-control" 
										required="required">
								</div>

								<div class="form-field mt-2">
									<input class="btn btn-primary btn-black tn-rounded-primary" type="submit" value="Add to cart">
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</form>
			<% } %>
			
		</div>


	</div>
</div>