<div class="container">
	<div class="row justify-content-center box-bg-container">
		<div class="col-md-12">
		
			<h2>Confirm Order</h2>

			<table class="table">
				<tr>
					<th>Country</th>
					<th>Service</th>
					<th>Type</th>
					<th>Mark</th>
					<th>Class</th>
					<th>Price</th>
				</tr>
				<tr>
					<td><%= country.name %></td>
					<td><%= data.serviceType %></td>
					<td><%= data.type %></td>
					<td><%= data.word_mark %></td>
					<td><%= data.class %></td>
					<td><%= formatter.format(amount) %></td>
				</tr>
			</table>


			<% if( user ) { %>

			<form id="addToCart" method="POST" action="/add-to-cart">
				<div class="form-group row">
					<div class="col-md-12 text-center">
						<input class="" type="hidden" name="logoName" value="<%= data.logoName %>">
						<input class="" type="hidden" name="countryId" value="<%= data.countryId %>">
						<input class="" type="hidden" name="serviceType" value="<%= data.serviceType %>">
						<input class="" type="hidden" name="type" value="<%= data.type %>">
						<input class="" type="hidden" name="word_mark" value="<%= data.word_mark %>">

						<input class="" type="hidden" name="nature" value="<%= data.nature %>">
						<input class="" type="hidden" name="company" value="<%= data.company %>">
						<input class="" type="hidden" name="fname" value="<%= data.fname %>">
						<input class="" type="hidden" name="lname" value="<%= data.lname %>">
						<input class="" type="hidden" name="phone" value="<%= data.phone %>">
						<input class="" type="hidden" name="fax" value="<%= data.fax %>">
						<input class="" type="hidden" name="position" value="<%= data.position %>">
						<input class="" type="hidden" name="country" value="<%= data.country %>">
						<input class="" type="hidden" name="street" value="<%= data.street %>">
						<input class="" type="hidden" name="city" value="<%= data.city %>">
						<input class="" type="hidden" name="state" value="<%= data.state %>">
						<input class="" type="hidden" name="zipCode" value="<%= data.zipCode %>">

						<input class="" type="hidden" name="commerce" value="<%= data.commerce %>">
						<input class="" type="hidden" name="filed" value="<%= data.filed %>">
						<input class="" type="hidden" name="priority" value="<%= data.priority %>">
						<input class="" type="hidden" name="origin" value="<%= data.origin %>">
						<input class="" type="hidden" name="originDate" value="<%= data.originDate %>">
						<input class="" type="hidden" name="originTm" value="<%= data.originTm %>">

						<% 
							
							for (let i=0; i < data.class.length; i++) {
							
						%>
							<input class="" type="hidden" name="class" value="<%= data.class[i] %>">
							<input class="" type="hidden" name="description" value="<%= data.description[i] %>">
						<% } %>

						<input class="btn btn-primary btn-black tn-rounded-primary" type="submit" value="Add to cart">
					</div>
				</div>
			</form>

			<% } else { %>
			<form id="addToCart" method="POST" action="/add-to-cart">
				<div class="form-group guest-form">
					<div class="col-6 text-center">
						<input class="" type="hidden" name="action" value="notLogin">
						<input class="" type="hidden" name="logoName" value="<%= data.logoName %>">
						<input class="" type="hidden" name="countryId" value="<%= data.countryId %>">
						<input class="" type="hidden" name="serviceType" value="<%= data.serviceType %>">
						<input class="" type="hidden" name="type" value="<%= data.type %>">
						<input class="" type="hidden" name="word_mark" value="<%= data.word_mark %>">

						<input class="" type="hidden" name="nature" value="<%= data.nature %>">
						<input class="" type="hidden" name="company" value="<%= data.company %>">
						<input class="" type="hidden" name="fname" value="<%= data.fname %>">
						<input class="" type="hidden" name="lname" value="<%= data.lname %>">
						<input class="" type="hidden" name="phone" value="<%= data.phone %>">
						<input class="" type="hidden" name="fax" value="<%= data.fax %>">
						<input class="" type="hidden" name="position" value="<%= data.position %>">
						<input class="" type="hidden" name="country" value="<%= data.country %>">
						<input class="" type="hidden" name="street" value="<%= data.street %>">
						<input class="" type="hidden" name="city" value="<%= data.city %>">
						<input class="" type="hidden" name="state" value="<%= data.state %>">
						<input class="" type="hidden" name="zipCode" value="<%= data.zipCode %>">

						<input class="" type="hidden" name="commerce" value="<%= data.commerce %>">
						<input class="" type="hidden" name="filed" value="<%= data.filed %>">
						<input class="" type="hidden" name="priority" value="<%= data.priority %>">
						<input class="" type="hidden" name="origin" value="<%= data.origin %>">
						<input class="" type="hidden" name="originDate" value="<%= data.originDate %>">
						<input class="" type="hidden" name="originTm" value="<%= data.originTm %>">
						
						<% for (let i=0; i < data.class.length; i++) { %>
							<input class="" type="hidden" name="class" value="<%= data.class[i] %>">
							<input class="" type="hidden" name="description" value="<%= data.description[i] %>">
						<% } %>

						<div class="col-12">
							<div class="form-group row box-form">
								<label for="NcEmail">Please Login to continue</label>
								<div id="loginMessage" class="alert alert-danger" role="alert" style="display:none">
									
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" name="customerType" value="old" id="customerTypeOld" checked>
									<label class="form-check-label" for="customerTypeOld">Login</label>
								</div>
				
								<div class="form-check">
									<input type="radio" class="form-check-input" name="customerType" value="new" id="customerTypeNew">
									<label class="form-check-label" for="customerTypeNew">Create New Account</label>
								</div>

								<div class="form-field mt-2">
									<input 
										type="email"
										name="email" 
										id="email" 
										placeholder="Email" 
										class="form-control"
										value="<%= data.email %>">
								</div>
								<div class="form-field mt-2">
									<input 
										type="password" 
										name="customerPassword" 
										id="customerPassword" 
										placeholder="Enter Password" 
										class="form-control">
								</div>
								<div class="form-field mt-2">
									<input 
										type="password" 
										name="customerPasswordConfirm" 
										id="customerPasswordConfirm" 
										placeholder="Confirm Password" 
										class="form-control"
										style="display:none">
								</div>
								

								<div class="form-field mt-2">
									<input id="btn-add-to-cart" class="btn btn-primary btn-black tn-rounded-primary" type="button" value="Proceed">
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</form>
			<% } %>
			
		</div>


	</div>
</div>