<% if ( newLayout ){ %>
	<div class="container">
		<h1 class="h1-heading-v2"><span>Trademark <br>Registration in <%= country.name %></span></h1>
		<% if( country.logo ) { %>
			<img class="flag-top" src="/uploads/flag_banner/<%= country.logo %>">
		<% } %>
		<p class="reg-text-head">The ownership of a trademark is not automatically granted merely by using it. Generally speaking, only by going through the legal process of registration can you ensure rights to your trademark.</p>
		<p class="reg-text-head">
		<% if( country.logo ) { %>
			<img class="bottom" src="/uploads/flag_banner/<%= country.logo %>">
		<% } %>
		Registering a trademark is not always a simple matter of submitting an application. Many jurisdictions do not make information readily available to the public and some do not provide reliable data online. Researching similarities to your trademark can be a complex task.
		</p>
		
		<div class="row align-items-center flag-text-block" >
			<!-- <div class="col-md-2">
				<div class="flag-containerv2" style="background-image:url('images/flag/<%= country.abbr.toLowerCase() %>.png')"></div>
			</div> -->
			<div class="col-md-2 text-center">
				<img class="img-flag" src='images/flags-v2/<%= country.abbr.toLowerCase() %>.png'>
			</div>
				<div class="col-md-10">
				<p class="text-reg-title-v2 text-center" style="margin-bottom:0;">Trademarkers.com will process your trademark registration in <strong class="text-uppercase"><%= country.name %></strong> through the following steps</p>
			</div>
		</div>

		<div class="row step-blockv2">
			
			<ul class="nav nav-tabs">
				<% if(hasStudy) { %><li><a data-toggle="tab" class="active" href="#studyBlock"><span>Step</span><i>1</i> Trademark Comprehensive Study</a></li><% } %>
				<li><a data-toggle="tab" class="<%= !hasStudy ? 'active' : '' %>" href="#registerBlock"><% if(hasStudy) { %><span>Step</span><i>2</i> <% } %>Trademark Registration Request</a></li>
			</ul>

			<div class="tab-content">
				<% if(hasStudy) { %>
				<div id="studyBlock" class="tab-pane fade in active show">
					<div class="row cont-wrap">
						<div class="col-md-6">
						<p> Trademark search report with Attorney's analysis about registration probabilities. This report is optional but highly recommended.</p>
	
						<p> There are several reasons why you might want to begin the registration process with a study:</p>
	
						<ul class="theme-default">
							<li> 
								If there is a pre-existing claim to your trademark, it is best to know this before you have invested time and resources into an application
							</li>
	
							<li> 
								Trademark similarities can be ambiguous and are best evaluated by a legal professional
							</li>
	
							<li> 
								It is possible to accidentally infringe on someone else’s trademark if you are not aware of its existence
							</li>
	
							<li> 
								A trademark study provides a snapshot of potential brands in your target market
							</li>
						</ul>
					</div>
	
					<div class="col-md-6">
						<p> With representation in almost every major jurisdiction, TradeMarkers has up-to-date information on trademark application activities. Hence, we are able to offer the following services:</p>
	
						<ul class="theme-default">
							<li> 
								Full analysis of existing trademarks, including similarities in appearance, sound, connotation and commercial impression
							</li>
	
							<li> 
								Consultation on what to do if an existing similarity is found
							</li>
	
							<li> 
								Enquiry with local trademark offices, as necessary
							</li>
	
							<li> 
								Detailed reporting on the availability of relevant marks and recommendations for your application
							</li>
						</ul>
	
						<p> Start by or dering a search report with Attorney's analysis about registration probabilities. This report is optional but highly recommended.</p>
	
						<button class="btn btn-primary btn-pull-right" data-toggle="modal" data-target="#studyModal"> Start Study</button>

					</div>


				</div>
				</div>
				<% } %>
				<div id="registerBlock" class="tab-pane fade <%= !hasStudy ? 'in active show' : '' %>">
					<div class="row cont-wrap">
						<div class="col-md-12">
							<p> With a legally registered trademark, you gain several benefits:</p>
							<ul class="theme-default">
								<li> 
									Potential copycats are deterred from infringing on your brand
								</li>
								<li> 
									The ability of other brands to claim that you are infringing on their trademark is severely diminished
								</li>
							</ul>
							<p> Our licensed Trademark Attorneys in <%= country.name %> will handle your trademark request, check all formalities, and then file with the <b><%= country.agency_name %></b> (<b><%= country.agency_short %></b>). You will receive confirmation of filing and a copy of the filing request. We will contact you immediately if any subsequent office actions require additional information, or if there are any opposition in <%= country.name %> against your application.</p>
							<p> After the formal examination at the <%= country.agency_name %> the trademark will be published for opposition to allow third parties to oppose if they believe that the mark infringes on their brands.<% if(country.oppositionCustomText) { %> <b><%= country.opposition_period %></b> <% } else { %>The opposition period in <%= country.name %> is <b><%= country.opposition_period %></b> after publication.<% } %> You will receive status updates as soon as your mark is published, and any actions the <%= country.agency_name %> will take if oppositions are received.</p>
							<p> If no oppositions arise and your trademark is formally approved, you can expect registration within <b><%= country.registration_period %></b>.</p>

							<button class="btn btn-primary btn-pull-right" data-toggle="modal" data-target="#registrationModal"> Start Registration</button>
						</div>
					</div>

				</div>
				
			</div>

			

		</div>


		<div class="row no-gutters no-guttersv2">
			<div class="col-md-12">
				<h2 style="padding-top:30px">Pricing Table</h2>
				<p class="text-right">
					Prices are in U.S Dollars
				</p>
				<div class="tbl-blue-container">
					<table class="table tbl-blue">
						<thead>
							<tr>
								<td style="width:10%"></td>
								<td style="width:30%"></td>
								<td style="width:20%"> Classes</td>
								<td style="width:20%"> Word Only</td>
								<td style="width:20%"> Design Only or Combined Word and Design</td>
							</tr>
						</thead>
						<tbody>
						
						<% prices.forEach(price => { %>

						<% if( price['service_type'] == 'Study' || 
							price['service_type'] == 'Registration' ||
							price['service_type'] == 'Certificate' ) { %>
						
							<tr>
								<td class="no-right gray text-center" rowspan="2"> 
									<% if ( price['service_type']  == "Study" ) { %>
										Step 1
									<% } else if ( price['service_type']  == "Registration" ) { %>
										Step 2
									<% } else if ( price['service_type']  == "Certificate" ) { %>
										Step 3
									<% } %>
								</td>
								<td class="no-left" rowspan="2">
									<% if ( price['service_type']  == "Study" ) { %>
										Trademark<br>Comprehensive Study
									<% } else if ( price['service_type']  == "Registration" ) { %>
										Trademark<br>Registration Request
									<% } else if ( price['service_type']  == "Certificate" ) { %>
										Trademark<br>Certificate Request
									<% } %>
								</td>
								<td class="gray"> 
									First Class
								</td>
								<td class="text-right"> 
									<%= ( price.initial_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.initial_cost) ) %>
								</td>
								<td class="text-right"> 
									<%= ( price.logo_initial_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.logo_initial_cost) ) %>
								</td>
							</tr>
							<tr>
								<td class="gray"> 
									Each Additional Class
								</td>
								<td class="text-right"> 
									<%= (price.additional_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.additional_cost)) %>
								</td>
								<td class="text-right"> 
									<%= (price.logo_additional_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.logo_additional_cost) ) %>
								</td>
							</tr>

						
						<% } %>

						<% }); %>
						</tbody>
					</table>
				</div>
				<p style="font-size:24px;color:#000;font-weight:600;padding-top:30px;"> Note:</p>
				<p> Prices include all official and professional fees. Prices do not include legal defenses in case of oppositions or objections</p>
				<p> Timeframe of the trademark registration process is only an estimate and it may vary considerably if any objections and/or oppositions are presented, or other events occur during the trademark registration process.</p>

			
			</div>
		</div>


	</div> <!-- end container from v2 -->
<% } else { %>
<h1 class="h1-heading"><span>Trademark Registration in <%= country.name %></span></h1>
<div class="container">
    <div class="row justify-content-center box-bg-container">

		
        <div class="col-md-12">
			<% if ( country.name == "Hong Kong" ) { %>
				<p>Trademark protection in <strong>Hong Kong</strong> can be obtained by registering your trademark through the <strong>Intellectual Property Department of the Government (SAR)</strong></p>
				<p>International registration of a mark must first be submitted through SAR before filing an application to the World Intellectual Property Organisation.</p>
				<p>The ownership of a trademark is not automatically granted merely by using it. Generally speaking, only by going through the legal process of registration can you ensure rights to your trademark.</p>
				<p>Registering a trademark is not always a simple matter of submitting an application. Many jurisdictions do not make information readily available to the public and some do not provide reliable data online. Researching similarities to your trademark can be a complex task.</p>
				<h4>Trademarkers.com will process your trademark registration in Hong Kong through the following steps:</h4>
			<% } %>

			<% if ( country.name == "Benelux" ) { %>
				<p>Filing a trademark application through Benelux grants protection in Belgium, Netherlands and Luxembourg.</p>
				<p>The ownership of a trademark is not automatically granted merely by using it. Generally speaking, only by going through the legal process of registration can you ensure rights to your trademark.</p>
				<p>Registering a trademark is not always a simple matter of submitting an application. Many jurisdictions do not make information readily available to the public and some do not provide reliable data online. Researching similarities to your trademark can be a complex task.</p>
				<h4>Trademarkers.com will process your trademark registration in Hong Kong through the following steps:</h4>
			<% } %>

			
		</div>
		<div class="col-md-12">

			<% if(hasStudy) { %>
            <div class="row step-block">
				<div class="col-md-12">
					<h2><span>Step 1</span> Trademark Comprehensive Study 
						<button class="btn btn-primary btn-black btn-pull-right" data-toggle="modal" data-target="#studyModal"> Start Study</button>
					</h2>
				</div>

				<div class="col-md-6">
					<p> Trademark search report with Attorney's analysis about registration probabilities. This report is optional but highly recommended.</p>

					<p> There are several reasons why you might want to begin the registration process with a study:</p>

					<ul class="theme-default">
						<li> 
							If there is a pre-existing claim to your trademark, it is best to know this before you have invested time and resources into an application
						</li>

						<li> 
							Trademark similarities can be ambiguous and are best evaluated by a legal professional
						</li>

						<li> 
							It is possible to accidentally infringe on someone else’s trademark if you are not aware of its existence
						</li>

						<li> 
							A trademark study provides a snapshot of potential brands in your target market
						</li>
					</ul>
				</div>

				<div class="col-md-6">
					<p> With representation in almost every major jurisdiction, TradeMarkers has up-to-date information on trademark application activities. Hence, we are able to offer the following services:</p>

					<ul class="theme-default">
						<li> 
							Full analysis of existing trademarks, including similarities in appearance, sound, connotation and commercial impression
						</li>

						<li> 
							Consultation on what to do if an existing similarity is found
						</li>

						<li> 
							Enquiry with local trademark offices, as necessary
						</li>

						<li> 
							Detailed reporting on the availability of relevant marks and recommendations for your application
						</li>
					</ul>

					<p> Start by or dering a search report with Attorney's analysis about registration probabilities. This report is optional but highly recommended.</p>

				</div>

			</div>

			<% } %>

			<div class="row step-block">
				<div class="col-md-12">
					<h2><span>Step <%= hasStudy ? '2' : '1' %></span> Trademark Registration Request
					<button class="btn btn-primary btn-black btn-pull-right" data-toggle="modal" data-target="#registrationModal"> Start Registration</button>
					</h2>
				</div>

				<div class="col-md-12">
					<p> With a legally registered trademark, you gain several benefits:</p>
					<ul class="theme-default">
						<li> 
							Potential copycats are deterred from infringing on your brand
						</li>
						<li> 
							The ability of other brands to claim that you are infringing on their trademark is severely diminished
						</li>
					</ul>
					<p> Our licensed Trademark Attorneys in <%= country.name %> will handle your trademark request, check all formalities, and then file with the <b><%= country.agency_name %></b> (<b><%= country.agency_short %></b>). You will receive confirmation of filing and a copy of the filing request. We will contact you immediately if any subsequent office actions require additional information, or if there are any opposition in <%= country.name %> against your application.</p>
					<p> After the formal examination at the <%= country.agency_name %> the trademark will be published for opposition to allow third parties to oppose if they believe that the mark infringes on their brands.<% if(country.oppositionCustomText) { %> <b><%= country.opposition_period %></b> <% } else { %>The opposition period in <%= country.name %> is <b><%= country.opposition_period %></b> after publication.<% } %> You will receive status updates as soon as your mark is published, and any actions the <%= country.agency_name %> will take if oppositions are received.</p>
					<p> If no oppositions arise and your trademark is formally approved, you can expect registration within <b><%= country.registration_period %></b>.</p>
				</div>

			</div>

			
				<% if ( country.name == "Hong Kong" ) { %>
					<div class="row step-block">
						<div class="col-md-6 col-sm-12">
							<h2>Facts & Figures</h2>

							<p>Founded: 2 July 1990</p>
							<p>Trademarks filed 2018: 40, 331</p>
							<p>Trademarks filed 2019: 36, 980</p>
							<p>Renewal required: after 10 years</p>
							<p>Use requirements: 5 years</p>
							<p>Apart of the Madrid Union, providing trademark protection in 124 international countries when registering with WIPO</p>
						</div>
						<div class="col-md-6 col-sm-12">
							<h2>Other Trademark Services</h2>

							<p>Trademark New Applications</p>
							<ul>
								<li>Office Action Response</li>
								<li>Appeal a Final Refusal</li>
								<li>Trademark Statement of Use</li>
								<li>Revive an Abandoned Application</li>
							</ul>

							<p>Maintaining a Registered Mark</p>
							<ul>
								<li>Trademark Renewal</li>
								<li>Change or Update Trademark Owner</li>
								<li>Trademark Monitoring</li>
							</ul>

							<p>Trademark Disputes</p>
							<ul>
								<li>Enforce Your Trademark</li>
								<li>Draft a Settlement Agreement</li>
							</ul>
						</div>
					</div>
					
				<% } %>
	 
				<% if ( country.name == "Benelux" ) { %>
					<div class="row step-block">
						<div class="col-md-6 col-sm-12">
							<h2>Facts & Figures</h2>

							<p>Founded: 1944</p>
							<p>Trademarks filed 2018: 23, 572</p>
							<p>Trademarks filed 2019: 23, 246</p>
							<p>Renewal required: After 10 years</p>
							<p>Use requirements: 5 years</p>
							<p>Apart of the Benelux, providing trademark protection in Belgium, Netherlands and Luxemburg when registering with BOIP</p>
						</div>
						<div class="col-md-6 col-sm-12">
							<h2>Other Trademark Services</h2>

							<p>Trademark New Applications</p>
							<ul>
								<li>Office Action Response</li>
								<li>Appeal a Final Refusal</li>
								<li>Trademark Statement of Use</li>
								<li>Revive an Abandoned Application</li>
							</ul>

							<p>Maintaining a Registered Mark</p>
							<ul>
								<li>Trademark Renewal</li>
								<li>Change or Update Trademark Owner</li>
								<li>Trademark Monitoring</li>
							</ul>

							<p>Trademark Disputes</p>
							<ul>
								<li>Enforce Your Trademark</li>
								<li>Draft a Settlement Agreement</li>
							</ul>
						</div>
					</div>

				<% } %>
	
				
			</div>

			<!-- price block -->

			<div class="row step-block">
				<div class="col-md-12">
					<h2>Pricing Table</h2>
				

				<p style="padding-top:30px;">
					<span style="float: right;">Prices are in U.S Dollars</span>
				</p>

				<div class="tbl-blue-container">
					<table class="table tbl-blue">
						<thead>
							<tr>
								<td style="width:10%"></td>
								<td style="width:30%"></td>
								<td style="width:20%"> Classes</td>
								<td style="width:20%"> Word Only</td>
								<td style="width:20%"> Design Only or Combined Word and Design</td>
							</tr>
						</thead>
						<tbody>
						
						<% prices.forEach(price => { %>

						<% if( price['service_type'] == 'Study' || 
							price['service_type'] == 'Registration' ||
							price['service_type'] == 'Certificate' ) { %>
						
							<tr>
								<td class="gray text-center" rowspan="2"> 
									<% if ( price['service_type']  == "Study" ) { %>
										Step 1
									<% } else if ( price['service_type']  == "Registration" ) { %>
										Step 2
									<% } else if ( price['service_type']  == "Certificate" ) { %>
										Step 3
									<% } %>
								</td>
								<td rowspan="2">
									<% if ( price['service_type']  == "Study" ) { %>
										Trademark<br>Comprehensive Study
									<% } else if ( price['service_type']  == "Registration" ) { %>
										Trademark<br>Registration Request
									<% } else if ( price['service_type']  == "Certificate" ) { %>
										Trademark<br>Certificate Request
									<% } %>
								</td>
								<td class="gray"> 
									First Class
								</td>
								<td class="text-right"> 
									<%= ( price.initial_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.initial_cost) ) %>
								</td>
								<td class="text-right"> 
									<%= ( price.logo_initial_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.logo_initial_cost) ) %>
								</td>
							</tr>
							<tr>
								<td class="gray"> 
									Each Additional Class
								</td>
								<td class="text-right"> 
									<%= (price.additional_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.additional_cost)) %>
								</td>
								<td class="text-right"> 
									<%= (price.logo_additional_cost <= 0 ? 'Free' : helpers.getPriceFormatted(price.logo_additional_cost) ) %>
								</td>
							</tr>

						
						<% } %>

						<% }); %>
						</tbody>
					</table>
				</div>
				<p style="font-size:24px;color:#000;font-weight:600;padding-top:30px;"> Note:</p>
				<p> Prices include all official and professional fees. Prices do not include legal defenses in case of oppositions or objections</p>
				<p> Timeframe of the trademark registration process is only an estimate and it may vary considerably if any objections and/or oppositions are presented, or other events occur during the trademark registration process.</p>

				
			</div>


               
        </div>
    </div>
</div>

<% } %>

<!-- MODAL STUDY -->
<div class="modal fade" id="studyModal" tabindex="-1" role="dialog" aria-labelledby="studyModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Trademark Study</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p> Before filing your trademark in <%= country.name %> it is important that you evaluate possible obstacles that may arise during registration process. </p>

				<p> Our Trademark Comprehensive Study will not only list similar trademarks {graphic/phonetic} that may conflict with yours, but also give you an Attorney's opinion about registration possibilities.</p>

				<p> <b> This report is optional but highly recommended.</b> </p>

				<a class="btn-pull-right" href="/trademark-study-in-<%= country.name.replace(/\s/g, '_').toLowerCase() %>-proceed"><button class="btn btn-primary btn-black btn-rounded-primary"> Proceed</button></a>
			</div>

		</div>
	</div>
</div>

<!-- MODAL REGISTRATION -->
<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Trademark Registration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p> Our licensed Trademark Attorneys in <b> <%= country.name %></b> will handle your trademark request, check all formalities, and then file with the <b> <%= country.agency_name %></b>. You will receive confirmation of filing and a copy of the filling request. We will contact you immediately if any subsequent office actions require additional information, or if there are any opposition in <b> <%= country.name %></b> against your application. </p>

				<p> After the formal examination at the <b> <%= country.agency_name %>}</b> the trademark will be published for opposition to allow third parties to oppose if they believe that the mark infringes on their brands. The opposition period in <b> <%= country.agency_name %></b> is <b> <%= country.opposition_period %></b> after publication. You will receive status updates as soon as your mark is published, and any actions they will take if oppositions are received. </p>

				<p> If no oppositions arise and your trademark is formally approved, you can expect registration <b> <%= country.registration_period %></b>.</p>

				<p> As <b> <%= country.name %></b> is a member of the Paris Convention, you can claim the priority of your filing in any other filing in national trademark offices of countries that are part of the Paris Convention.</p>

				<a class="btn-pull-right" href="/trademark-registration-in-<%= country.name.replace(/\s/g, '_').toLowerCase() %>-proceed"><button class="btn btn-primary btn-black btn-rounded-primary"> Proceed</button></a>
			</div>

		</div>
	</div>
</div>