<%
let serviceTypeCamel = serviceType.charAt(0).toUpperCase() + serviceType.slice(1)
%>
<h1 class="h1-heading"><span>Trademark <%= serviceTypeCamel %> in <%= country.name %></span></h1>
<div class="container">
    <div class="row justify-content-center box-bg-container">

        <div class="col-md-12">

            <div class="row" >
				<div class="col-md-3">
					<% if (country.abbr) { %>
						<div class="flag-container" style="background-image:url('images/flag/<%= country.abbr.toLowerCase() %>.png')"></div>
						<p class="text-center" style="font-size:24px;color: #B4B4B4;padding-top:10px;margin-bottom:0px;"><%= country.abbr %></p>
					<% } %>
				</div>
				<div class="col-md-9">
					<p> In order to proceed with Trademark <%= serviceTypeCamel %> in <%= country.name %> please fill out the following form. You'll have to provide information about the Trademark, the Administrative contact and the Owner.</p>
				</div>
			</div>


            
			<form id="filing_form" method="POST" action="/trademark-profile" enctype="multipart/form-data">
				<div id="errorMessage" class="alert alert-danger" role="alert" style="display:none"></div>

				<% if( serviceType != "monitoring" ) { %>
				<div class="form-group row">
					<div class="col-md-12">
						<div class="form-box">
							<label class="form-box-container" for="type">
								<b> Please select the type of trademark you wish to request:</b>
								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="TYPES OF TRADEMARKS
Word Mark: one trademark, which contains only verbal elements (words, letters, numbers or any character).

Logo (design only): one trademark, which contains only design elements (images, graphics, colors).

Combined Mark: one trademark, which contains verbal elements as well as design elements (including stylized text)."></i>
							</label>

							<div class="form-check">
								<input class="form-check-input" type="radio" name="type" id="typeword" value="word" checked>
								<label class="form-check-label" for="typeword">
									Word-Only
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="type" id="typelogo" value="logo">
								<label class="form-check-label" for="typelogo">
									Design-Only or Stylized Word-Only (Figurative)
								</label>
							</div>
							<div class="form-check disabled">
								<input class="form-check-input" type="radio" name="type" id="typelword" value="lword">
								<label class="form-check-label" for="typelword">
									Combined Word and Design
								</label>
							</div>

						</div>
					</div>
				</div>
				<% } %>


				<div class="form-group row" id="word">
					<div class="col-md-12">
					<div class="form-box">
						<div class="form-check">
							<label class="form-box-container" for="word_mark"><b>Trademark</b></label>
							<input type="text" name="word_mark" class="form-control" id="word_mark" placeholder="Enter word mark" value="<%= trademarkStore ? trademarkStore.name : '' %>" required autofocus>
						</div>
					</div>
					</div>
				</div>

				<% if( serviceType == "monitoring" ) { %>
					<div class="form-group row" id="word">
						<div class="col-md-12">
						<div class="form-box">
							<div class="form-check">
								<label class="form-box-container" for="word_mark"><b>Trademark Serial</b></label>
								<input type="text" name="serialNumber" class="form-control" id="serialNumber" placeholder="Enter serial number" value="" required autofocus>
							</div>
						</div>
						</div>
					</div>
				<% } %>

				<% if( serviceType != "monitoring" ) { %>
				<div class="form-group row" id="upload" style="display:none">
				
					<div class="col-md-12">
						<div class="form-box">
						<div class="form-check">
							<label class="form-box-container" for="logo_pic"><b>Upload Photo (jpeg, jpg, png)</b></label>
							<input type="file" class="file-input" name="logo_pic" class="form-control" id="logo_pic" >
							<!-- <p id="logo_pic_name"></p>
							<p id="logo_pic_btn" class="btn btn-primary btn-rounded-primary-light" >Upload A File</p> -->
						</div>
					
						<div class="form-check" style="padding-top:20px">
							<label class="form-box-container" for="colorClaim"><b>Color Claim</b></label>
							

							<div class="form-check">
								<input class="form-check-input" type="radio" name="colorClaim" id="yesClaim" value="yes" >
								<label class="form-check-label" for="yesClaim">
									Yes
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="colorClaim" id="noClaim" value="no" checked>
								<label class="form-check-label" for="noClaim">
									No
								</label>
							</div>
							<div id="colorClaimText" class="form-check" style="display:none">
								<input class="form-check-input" type="text" name="colorClaimText" placeholder="Color" value="" >
							</div>

						</div>
						</div>
					</div>
				
				</div>

				<% } %>


				<!-- display class -->

				<div class="form-group row">
					<div class="col-md-12"><div class="form-box">
						<div style="padding-left:1.25rem;" class="form-check2">
						<label class="form-box-container" for="word_mark"><b>Select the classes in which you need to register your Trademark:
						
							<span> 
								<!-- <a href="/classes" target="_blank" class="btn btn-sm btn-danger" style="color: white;"> 
									Search Classes
								</a> -->
								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" data-html="true" title="What are classes?
								
When registering a trademark you need to specify the products and services that will be associated with your trademark.

The large majority of countries of the world have adopted the International Classification of Nice. This system groups all products and services into 45 classes - 34 for products, 11 for services - permitting you to specify precise and clear classes covering your trademark.

The protection that is offered to a registered trademark covers only the classes specified at the time of registration, therefore, allowing two identical trademarks to coexist in distinct classes.

We provide a helpful Class Search tool, which allows you to easily determine the classes your products or services are related to; you will find the button that redirects to this application in this page..."></i>
							</span>
						</b>
						</label>
						
						
						<div class="new-add-class-container">

							<!-- populate selected classes here -->
							<table id="listClasses" class="table" style="">
								<% if (trademarkStore && trademarkStore.gs && trademarkStore.gs.defaultValue && trademarkStore.gs.defaultValue.values  ) { %>
									<% trademarkStore.gs.defaultValue.values.forEach(function(TMclass,key) { %>
									<tr>
										<td><%= TMclass.number %></td>
										<td><input id="class<%= TMclass.number %>" value="<%= TMclass.value %>" type="text" class="form-control classDescriptions" name="description" placeholder="Enter Goods/Services on this trademark" data-id="<%= TMclass.number %>"></td>
										<td></td>
										<td class="text-center"> <i data-class-number="35" class="fa fa-trash btnRemoveClass"></i></td>
									</tr>
									<% }) %>
								<% } %>
							</table>

							<% if (!trademarkStore) { %>
							<p class="btn-add-class btn btn-primary btn-rounded-primary-light">+ Select trademark class</p>
							<div class="show-pop">
								<div class="contain-select-class">
								<p class="text-right"><i class="fa fa-times btn-close-class"></i></p>
								<select id="addClassValue" name="classes" class="form-control selectpicker" data-live-search="true">
									<option value="" disabled selected>Select Trademark Class</option>
									<% for (var key in classes) { %>
									<option value="<%= classes[key].id %>" data-tokens="<%= classes[key].id %> - <%= classes[key].name %>"><%= classes[key].id %> - <%= classes[key].name %></option>
									<% } %>
								</select>

								
								</div>
							</div>
							<% } %>

						</div>

						<div class="classes_container" style="display:none !important">
                                    
							<% for (let i = 1; i < 46; i++) { %>
								<input 
									class="form-check-input class_chk" 
									type="checkbox" 
									id="class<%= i %>" 
									value="<%= i %>" 
									name="class" <%= trademarkStore && trademarkStore.niceclasses.includes(i+'') ? "checked":"" %>>
							<% } %>
						</div>

						


						</div>
					</div></div>

				</div>

				<% if( serviceType != "monitoring" ) { %>
				
				<% if(country.abbr == 'US') { %>
				<div class="form-group row">
					<div class="col-md-12">
					<div class="form-box">
						<div class="form-check">
							<label class="form-box-container" for="commerce">
								<b>Is your trademark being used in commerce in <%= country.name %>?</b>

								<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="<i>“Used in commerce”</i> means that the mark is used in the ordinary course of trade. For example, for goods it would be used when it is placed in any manner on the goods, their containers or their displays. For services it is used when the trademark is used or displayed in advertising or during the sales process.">
								</i>
							</label>
							
							<select class="form-control" name="commerce" id="commerce">
								<option value="no" selected> No</option>
								<option value="yes"> Yes</option>
								<option value="registered in another country"> No, but it is registered in another country</option>         
							</select>

						</div>
					</div>
					</div>
				</div>
				<% } %>

				<div class="form-group row">
					<div class="col-md-12">
					<div class="form-box">
						<div class="form-check">
							<label class="form-box-container"  for="filed">
								<b> Have you filed your trademark application in any other country within the last 6 months?</b>
							</label>
							
							<select class="form-control" name="filed" id="filed">
								<option value="no" selected> No</option>
								<option value="yes"> Yes</option>         
							</select>

							<div id="claim_priority" style="display: none;">
								<span> Then you may want to <b>Claim Priority</b></span>
								<div style="text-align: left;" class="alert alert-info" role="alert">
									<p>     
										Claiming priority is part of the Paris Convention treaty.

										It means that if you have filed a trademark within the last 6 months in any of the signatory countries (most countries of the world), you can use the filing date of this first registration as the filing date in the other signatory countries.

										This right may be useful to the owner of the trademark, to protect his intellectual property, in cases of legal conflicts with other parties.
									</p>
								</div>

								<label class="form-box-container" for="priority">
									<b> Claim Priority 
										<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="<p>In order to claim priority, you need to provide</p>
										<p><b>Country</b> in which you first filed your trademark</p>
										<p><b>Date</b> in which you first filed your trademark</p>
										<p><b>Filing number</b> of your first filed trademark</p>
										To claim priority, both applications must be identical">
										</i>
									</b>
								</label>

								<select class="form-control" name="priority" id="priority">
									<option value="no"> No</option>
									<option value="yes"> Yes</option>         
								</select>
							</div>

						</div>
					</div>
					</div>
				</div>

				<div id="yes_priority" style="display: none;">

					<div class="form-group row">
						<div class="col-md-12">
						<div class="form-box">
							<div class="form-check">
								<label class="form-box-container" for="commerce">
									<b> Country of Origin</b></i>
								</label>
								<select class="form-control" name="origin" id="origin">
									<option value=""> - </option>
									<% countries.forEach(country => { %>
										<option value="<%= country.name %>">
											<%= country.name %>
										</option>
									<% }) %>   
								</select>

							</div>
						</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
						<div class="form-box">
							<div class="form-check">
								<label for="commerce">
									<b> Date</b></i>
								</label>
								<input class="form-control" value="" type="date" name="originDate" id="originDate" >
							</div>
						</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-md-12">
						<div class="form-box">
							<div class="form-check">
								<label for="commerce">
									<b> Trademark Number</b></i>
								</label>
								<input class="form-control" type="text" name="originTm" id="originTm" >
							</div>
						</div>
						</div>
					</div>
					
				</div>

				<% } %>

				


				<div class="form-group row">
					<div class="col-md-12 text-center">
						<input class="" type="hidden" name="countryId" value="<%= country.id %>">
						<input class="" type="hidden" name="serviceType" value="<%= serviceType %>">
						<input class="btn btn-primary btn-black tn-rounded-primary" type="submit" name="submit" value="Continue">
					</div>
				</div>
			</form>

			<input id="initial_cost" type="hidden" value="<%= price.initial_cost %>">
			<input id="additional_cost" type="hidden" value="<%= price.additional_cost %>">
			<input id="logo_initial_cost" type="hidden" value="<%= price.logo_initial_cost %>">
			<input id="logo_additional_cost" type="hidden" value="<%= price.logo_additional_cost %>">
               
        </div>
    </div>
</div>