<div class="col-md-12" style="margin-bottom:20px;">    
  <h2>View Order #<%= order.orderNumber %>
  </h2>

      <div class="col-md-12">
          <hr>

            <%
            let customer;
            let email;
            let details;
            if ( order.user ) {
                customer = order.user.name
                email = order.user.email
            } else if ( order.charge && order.charge.metadata ) {
                email = order.charge.metadata.customer
                details = order.charge.metadata.description
            }
            %>
          <div class="form-group">
              <label>Customer Name</label>
              <input type="text" class="form-control" value="<%= customer %>" placeholder="" name="notes" disabled>
          </div>

          <div class="form-group">
              <label>Customer Email</label>
              <input type="text" class="form-control" value="<%= email %>" placeholder="" name="discountType" disabled>
          </div>

          <% if (order.cartItems) { %>
          <table class="table">
            <thead>
                <tr>
                    <th>Mark</th>
                    <th>Service</th>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                
            <% order.cartItems.forEach(function(item,key) {  %>
       
                <tr>
                    <td><%= item.name ? item.name : item.word_mark %></td>
                    <td><%= item.service ? item.service : 'Trademark '+item.serviceType %></td>
                    <td><%= item.type %></td>
                    <td>$<%= item.amount ? item.amount : item.price %></td>

                </tr>
            <% }) %>
            </tbody>
        </table>
        <% } %>

        <% if (details) { %>
            <p><%= details %></p>
        <% } %>


      </div>

      <div class="col-md-12 mt-5">
        <div class="card mt-3">
        <h4 class="m-2">Activity Logs</h4>
        <% if ( order.logs && order.logs.length > 0 ) { %>
          <ul class="comment-list m-2">
            <% order.logs.forEach(function(logs,key) { %>
              <li><span style="font-style:italic; padding-right:10px"><%= moment(logs.created_at_formatted).format('MMM D, YYYY hh:mm:ss') %></span><span style="font-weight: 600;"><%= logs.user %></span></li>
            <% }) %>
          </ul>
          <% } %>
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-center mt-3">
          <a class="btn btn-primary" style="padding-left:40px;padding-right:40px;" href="/njs-admin/manage/orders/edit/<%= order._id %>">Edit</a>
        </p>
      </div>

    



</div>
      

