<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Task <%= n %></h2>

    <h3 class="text-center">Completion Date</h3>
    <ul class="task-list">
        <% task.details.forEach(function(userTask,key) { if (userTask.task_number == n) { %>
        <li>
            <div class="card card-b">
                <div class="card-body">
                    <h4 class="card-title">
                        <span class="numLabel"><%= userTask.task_number %></span>
                        <span class="task-status pending"><%= userTask.task_status %></span>
                    </h4>
                    <p class="card-text"><%= userTask.task_description %></p>
                    <form method="post" action="/researcher/tasks/update" >
                        <select name="task_status">
                            <option value="pending" <%= userTask.task_status == 'pending' ? "selected" : "" %>>Pending</option>
                            <option value="ongoing" <%= userTask.task_status == 'ongoing' ? "selected" : "" %>>Ongoing</option>
                            <option value="review" <%= userTask.task_status == 'review' ? "selected" : "" %>>For Review</option>
                        </select>
                        <input type="hidden" name="task_number" value="<%= n %>">
                        <input type="hidden" name="task_id" value="<%= task._id %>">
                        <input type="submit" value="Update ">
                    </form>
                </div>
            </div>
        </li>
        <% } }) %>
    </ul>
</div>
        