<div class="col-md-12" style="margin-bottom:20px;">  
    <h2>Manage Task 
        <span class="create-btn"><a href="/njs-admin/manage/tasks/add"><i class="fa fa-plus"></i></a></span>
    </h2>

    <% if (flash.success) { %>
    <div class="alert alert-success" role="alert">
        <strong><%= flash.success %></strong>
    </div>
    <% } %>
</div>
                    
<div clss="col-md-12">
    <table id="myListDataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Researcher</th>
                <th>Task Name</th>
                <th>Task Complication Date</th>
                <th>Task Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% tasks.forEach(function(task,key) { %>
            <tr>
                <td><%= task.researcher[0].name %></td>
                <td><%= task.task_name %></td>
                <td><%= task.complication_date %></td>
                <td><%= task.task_status %></td>
                <td><a href="/researcher/events/view/<%= task._id %>"><i class="fa fa-eye"></i></a>
                    <a href="/researcher/events/edit/<%= task._id %>"><i class="fa fa-pen"></i></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>