

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">
              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title">Active Orders</h1></div>
                  <div class="ar-cinfo">
                    <div class="ar-cname ar-info-line">Customer Name: <span class="ar-value"><%= customer.name %></span></div>
                    <div class="ar-cno ar-info-line">Customer Number: <span class="ar-value">cu-<%= customer.id %></span></div>
                  </div>
                </div>
                <div class="ard-wrap stp-row">
                  <nav class="ard-nav">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-link active" id="nav-pending-tab" data-bs-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">Pending</a>
                      <a class="nav-link" id="nav-registered-tab" data-bs-toggle="tab" href="#nav-registered" role="tab" aria-controls="nav-registered" aria-selected="false">Registered</a>
                      <a class="nav-link" id="nav-all-tab" data-bs-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="false">All</a>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                      <div class="ard-content">

                        <% data.trademark.forEach(function(mark,key) { %>
                          
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-us"><em class="sr-only"><%= mark.countryName %></em></span><%= mark.countryName %></h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% mark.data.forEach(function(trademark,key) { %>

                                    <% if( trademark.markMongo && trademark.markMongo.status != "Registered" ) { %>
                                    <tr>
                                      <td><%= moment(trademark.markMongo.filingDate).format('MMM D, YYYY') %></td>
                                      <td><%= trademark.markMongo.serialNumber %></td>
                                      <td><%= trademark.markMongo.registrationNumber %></td>
                                      <td><a href="/customer/orders/<%= trademark.markMongo._id %>"><%= trademark.markMongo.mark %></a></td>
                                      <td><%= trademark.markMongo.office_status %></td>
                                      <td><a href="#" class="text-danger"></a></td>
                                    </tr>
                                    <% } %>
                                  <% }) %>
                                </tbody>
                              </table>
                          </div>
                        <% }) %>


                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-registered" role="tabpanel" aria-labelledby="nav-registered-tab">
                      <div class="ard-content">
                        <% data.trademark.forEach(function(mark,key) { %>
                          
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-us"><em class="sr-only"><%= mark.countryName %></em></span><%= mark.countryName %></h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% mark.data.forEach(function(trademark,key) { %>
                                    <% if( trademark.markMongo && trademark.markMongo.status != "Registered" ) { %>
                                      <tr>
                                        <td><%= moment(trademark.markMongo.filingDate).format('MMM D, YYYY') %></td>
                                        <td><%= trademark.markMongo.serialNumber %></td>
                                        <td><%= trademark.markMongo.registrationNumber %></td>
                                        <td><a href="/customer/orders/<%= trademark.markMongo._id %>"><%= trademark.markMongo.mark %></a></td>
                                        <td><%= trademark.markMongo.office_status %></td>
                                        <td><a href="#" class="text-danger"></a></td>
                                      </tr>
                                      <% } %>
                                  <% }) %>
                                </tbody>
                              </table>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                      <div class="ard-content">
                        <% data.trademark.forEach(function(mark,key) { %>
                          
                          <div class="ard-row table-ard-wrap table-responsive">
                            <table class="table table-striped table-bordered caption-top table-hover">
                                <caption class="ard-row-head"><h2 class="ard-row-title"><span class="flag-icon flag-icon-us"><em class="sr-only"><%= mark.countryName %></em></span><%= mark.countryName %></h2></caption>
                                <thead>
                                  <tr>
                                    <th>App. Date</th>
                                    <th>App. Number</th>
                                    <th>Reg. Number</th>
                                    <th>Trademark</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% mark.data.forEach(function(trademark,key) { %>
                                    
                                    <tr>
                                      <td><%= trademark.mark.filing_date %></td>
                                      <td><%= trademark.mark.filing_number %></td>
                                      <td><%= trademark.mark.registration_number %></td>
                                      <td><a href="/customer/orders/5"><%= trademark.mark.name %></a></td>
                                      <td><%= trademark.mark.office_status %></td>
                                      <td><a href="#" class="text-danger"></a></td>
                                    </tr>
                                  <% }) %>
                                </tbody>
                              </table>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
