<% if (flash.success) { %>
  <div class="alert alert-success" role="alert">
    <strong><%= flash.success %></strong>
  </div>
  <% } %>

  <% if (flash.error) { %>
    <div class="alert alert-warning" role="alert">
      <strong><%= flash.error %></strong>
    </div>
  <% } %>

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">
              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title"><%= trademark.orderCode %></h1></div>
                  <div class="ar-cinfo">
                    <div class="ar-cname ar-info-line">Status: <span class="ar-value" style="text-transform: capitalize;"><%= trademark.status %></span></div>
                    <div class="ar-cname ar-info-line">Status Date: <span class="ar-value"><%= moment(trademark.statusDateFormatted).format('MMM D, YYYY') %></span></div>
                    <div class="ar-cname ar-info-line">Status Description: <span class="ar-value"><%= trademark.statusDescription ? trademark.statusDescription : "Processing" %></span></div>

                  </div>
                </div>

                <% if( trademark.otherServices && trademark.otherServices.length > 0 ) { %>
                  <div class="ard-wrap stp-row">

                    <h3>Services needed to continue your order process</h3>

                    <table class="table">
                      <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    <% trademark.otherServices.forEach(function(otherService,key) { %>
                      <tr>
                        <th><%= otherService.addAmount %></th>
                        <th><%= otherService.addAmountDescription %></th>
                        <th>
                          <%
                            let isAble = otherService.status == "unPaid" ? true : false; 
                          %>

                          <% if (isAble) { %>
                            <button class="btn btn-primary serviceAddCart" data-attr-id="<%= trademark._id %>" data-attr-serviceId="<%= otherService._id %>" >Add to Cart</button>
                          <% } else { %>
                            <i>No Action needed</i>
                          <% } %>
                        </th>
                      </tr>
                    <% }) %>
                    </table>
                  </div>
                <% } %>

                <div class="ard-wrap stp-row">

                  <% if( trademark.mark ) { %>
                    <div class="ar-cname ar-info-line">Trademark: <strong style="text-transform: capitalize;"><%= trademark.mark %></strong></div>
                  <% } %>

                  <% if( trademark.logoPic ) { %>
                    <div class="ar-cname ar-info-line"><img class="img-right" src="/uploads/<%= trademark.logoPic %>" /></div>
                  <% } %>

                  <% if( trademark.serviceType ) { %>
                    <div class="ar-cname ar-info-line">Service: <strong style="text-transform: capitalize;"><%= trademark.serviceType %></strong></div>
                  <% } %>

                  <% if( trademark.type ) { 
                    let typeFormat;
                    
                    if (trademark.type == 'word') {
                      typeFormat = 'Word Only'
                    } else if(trademark.type == 'logo') {
                      typeFormat = 'Design-Only or Stylized Word-Only (Figurative)'
                    } else if(trademark.type == 'lword') {
                      typeFormat = 'Combined Word and Design'
                    } else {
                      typeFormat = ''
                    }
                  %>
                    <div class="ar-cname ar-info-line">Trademark Type: <strong><%= typeFormat %></strong></div>
                  <% } %>

                  <% if( trademark.commerce ) { %>
                    <div class="ar-cname ar-info-line">Used in commerce: <strong style="text-transform: capitalize;"><%= trademark.commerce %></strong></div>
                  <% } %>

                  <% if( trademark.filed == 'yes' ) { %>
                    <div class="ar-cname ar-info-line">Have you filed your trademark application in any other country within the last 6 months?: <strong style="text-transform: capitalize;"><%= trademark.commerce %></strong></div>
                    <div class="ar-cname ar-info-line">Claim Priority: <strong style="text-transform: capitalize;"><%= trademark.priority %></strong></div>

                    <% if( trademark.priority == 'yes' ) { %>
                      <div class="ar-cname ar-info-line">Country of Origin: <strong><%= trademark.origin %></strong></div>
                      <div class="ar-cname ar-info-line">Date: <strong><%= trademark.originDate %></strong></div>
                      <div class="ar-cname ar-info-line">Serial Number: <strong><%= trademark.originTm %></strong></div>
                    <% } %>

                  <% } %>

                  <% if( trademark.class ) { %>

                    <div class="ar-cname ar-info-line">Class:
                      <ul>
                      <% 
                      if (Array.isArray(trademark.class)) {
                      trademark.class.forEach(function(classes,key) { %>
                        <li><%= classes %> - <%= trademark.description[key] %></li>
                      <% }) } else { %>
                        <li><%= trademark.class %> - <%= trademark.description %></li>
                      <% } %>
                      </ul>
                    </div>

                  <% } %>

                  <% if( trademark.colorClaim && trademark.colorClaim == 'yes' ) { %>

                    <div class="ar-cname ar-info-line">Color Claim: <strong style="text-transform: capitalize;"><%= trademark.colorClaimText %></strong></div>

                  <% } %>

                  <% if( trademark.serialNumber ) { %>
                    <div class="ar-cname ar-info-line">Serial Number: <span class="ar-value"><%= trademark.serialNumber %></span></div>
                  <% } %>

                  <% if( trademark.registrationNumber ) { %>
                    <div class="ar-cname ar-info-line">Registration Number: <span class="ar-value"><%= trademark.registrationNumber %></span></div>
                  <% } %>

                  <% if( trademark.registrationDate ) { %>
                    <div class="ar-cname ar-info-line">Registration Date: <span class="ar-value"><%= trademark.registrationDate %></span></div>
                  <% } %>

                  <% if( trademark.publicationDate ) { %>
                    <div class="ar-cname ar-info-line">Publication Date: <span class="ar-value"><%= moment(trademark.publicationDateFormatted).format('MMM D, YYYY') %></span></div>
                  <% } %>

                  <% if( trademark.documents && trademark.documents.length > 0 ) { %>
                    <div class="ar-cname ar-info-line">Documents: </div>
                    <ul>
                    <% trademark.documents.forEach(function(document,key) { %>
                      <li>
                        <%= document.dateFormatted ? document.dateFormatted : '' %> <a href="<%= document.link %>" target="_blank"><%= document.label %></a>
                        
                      </li>
                    <% }) %>
                    </ul>
                  <% } %>

                </div>


                <% if( trademark.nature == "Company" ) { %>
                  <div class="ard-wrap stp-row">
                    <div class="ar-box-head"><h3>Company Information</h3></div>
                    <% if( trademark.company ) { %>
                      <div class="ar-cname ar-info-line">Company: <strong><%= trademark.company %></strong></div>
                    <% } %>

                    
                    <div class="ar-cname ar-info-line">Street: <strong><%= trademark.companyStreet %></strong></div>
                    <div class="ar-cname ar-info-line">City: <strong><%= trademark.companyCity %></strong></div>
                    <div class="ar-cname ar-info-line">State: <strong><%= trademark.companyState %></strong></div>
                    <div class="ar-cname ar-info-line">Postal Code: <strong><%= trademark.companyZipCode %></strong></div>
                    <div class="ar-cname ar-info-line">Country: <strong><%= trademark.companyCountry %></strong></div>
                   
                    <div class="ar-box-head"><h3>Representative Information</h3></div>
                    <div class="ar-cname ar-info-line">Representative Name: <strong><%= trademark.fname %> <%= trademark.lname %></strong></div>
                    <div class="ar-cname ar-info-line">Representative Phone: <strong><%= trademark.phone %></strong></div>
                    <div class="ar-cname ar-info-line">Representative Fax: <strong><%= trademark.fax %></strong></div>
                    <div class="ar-cname ar-info-line">Representative Position: <strong><%= trademark.position %></strong></div>
                    
                    <div class="ar-cname ar-info-line">Representative Street: <strong><%= trademark.repStreet %></strong></div>
                    <div class="ar-cname ar-info-line">Representative City: <strong><%= trademark.repCity %></strong></div>
                    <div class="ar-cname ar-info-line">Representative State: <strong><%= trademark.repState %></strong></div>
                    <div class="ar-cname ar-info-line">Representative Postal Code: <strong><%= trademark.repZipCode %></strong></div>
                    <div class="ar-cname ar-info-line">Representative Country: <strong><%= trademark.repCountry %></strong></div>
             

                  </div>
                <% } %>

                <% if( trademark.nature == "Individual" ) { %>
                  <div class="ard-wrap stp-row">

                    <div class="ar-box-head"><h3>Contact Information</h3></div>
                    <div class="ar-cname ar-info-line">Name: <strong><%= trademark.fname %> <%= trademark.lname %></strong></div>
                    <div class="ar-cname ar-info-line">Phone: <strong><%= trademark.phone %></strong></div>
                    <div class="ar-cname ar-info-line">Fax: <strong><%= trademark.fax %></strong></div>
                    <div class="ar-cname ar-info-line">Position: <strong><%= trademark.position %></strong></div>
                    
                    <div class="ar-cname ar-info-line">Street: <strong><%= trademark.repStreet %></strong></div>
                    <div class="ar-cname ar-info-line">City: <strong><%= trademark.repCity %></strong></div>
                    <div class="ar-cname ar-info-line">State: <strong><%= trademark.repState %></strong></div>
                    <div class="ar-cname ar-info-line">Postal Code: <strong><%= trademark.repZipCode %></strong></div>
                    <div class="ar-cname ar-info-line">Country: <strong><%= trademark.repCountry %></strong></div>

                  </div>
                <% } %>

                <% if( trademark.certificate ) { %>
                  <div class="ard-wrap stp-row">

                    <div class="ar-box-head"><h3>Certificate <span class="pull-right-icon"><a target="_blank" href="/uploads/certificate/<%= trademark.certificate.customName %>"><i class="fa fa-file-pdf"></i></a></span></h3></div>

                    <% if( trademark.delivery ) { %>
                      <div class="ar-cname ar-info-line">Delivery Method: <strong><%= trademark.delivery.type %> </strong></div>
                      <div class="ar-cname ar-info-line">Delivery Status: <strong><%= trademark.delivery.status %> </strong></div>
                      <div class="ar-cname ar-info-line">Delivery Name: <strong><%= trademark.delivery.name %> </strong></div>
                      <div class="ar-cname ar-info-line">Delivery Address: <strong><%= trademark.delivery.address %> </strong></div>
                      <div class="ar-cname ar-info-line">Delivery Contact #: <strong><%= trademark.delivery.contact %> </strong></div>
                      
                      <% if( trademark.delivery.trackingNumber ) { %>
                        <div class="ar-cname ar-info-line">Tracking Number: <strong><%= trademark.delivery.trackingNumber %> </strong></div>
                      <% } %>

                    <% } else { %>
                      <div class="ar-cname ar-info-line">Delivery Method: <a href="/delivery-method/<%= trademark.serialNumber %>">Select shipping method </a></div>
                    <% } %>

                  </div>
                <% } %>


                <div class="ard-wrap stp-row">

                  <div class="ar-box-head"><h3>Supporting Documents</h3></div>

                  <div id="supportDocumentList" class="">
                    <table class="table">
                      <tr>
                        <th>Date Added</th>
                        <th>Notes</th>
                        <th>File</th>
                        
                      </tr>
                      <% if( trademark.supportingDocs && trademark.supportingDocs.length > 0 ) { %>
                        <% trademark.supportingDocs.forEach(function(documents,key) { %>
                      <tr>
                        <td><%= moment(documents.created_at_formatted).format('MMM D, YYYY') %></td>
                        <td><%= documents.notes %></td>
                        <td><a target="_blank" href="/uploads/<%= documents.file %>"><i class="fa fa-file"></i></a></td>
                      </tr>
                        <% }) %>
                      <% } else { %>
                      <tr>
                        <td><p>No Supporting Document(s) found!</p></td>
                      </tr>
                      <% } %>
                    </table>
                  </div>

                  <form action="" method="post" encType="multipart/form-data">

                    <div class="input-group mb-3 has-validation">
                      <label class="input-group-text" for="supportingDoc">Upload</label>
                      <input type="file" class="form-control" name="supportingDoc" id="supportingDoc" aria-describedby="inputGroupPrepend"  required>
                    </div>

                    <div class="input-group">
                      <span class="input-group-text">Notes</span>
                      <textarea class="form-control" aria-label="With textarea" name="supportingNotes" required></textarea>
                    </div>

                    <div class="col-auto text-center">
                      <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </div>

                  </form>

                </div>


              </div>
          </div>
        </div>
      </div>
    </section>
