

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">

              <% if (flash.success) { %>
              <div class="alert alert-success" role="alert">
                <strong><%= flash.success %></strong>
              </div>
              <% } %>
        
              <% if (flash.error) { %>
                <div class="alert alert-warning" role="alert">
                  <strong><%= flash.error %></strong>
                </div>
              <% } %>

              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title">Profile</h1></div>
                  <div class="ar-cinfo">
                    <%
                      const capitalize = (s) => {
                        if (typeof s !== 'string') return ''
                        return s.charAt(0).toUpperCase() + s.slice(1)
                      }

                      let name = ""
                      if ( user.firstName && user.lastName) {
                        name = (user.suffix ? user.suffix : '') + " " + capitalize(user.firstName) + " " + capitalize(user.lastName)
                      } else {
                        name = user.name
                      }
                    %>
                    <div class="ar-cname ar-info-line">Customer Name: <span class="ar-value"><%= name %></span></div>
                    <div class="ar-cno ar-info-line">Customer Email: <span class="ar-value"><%= user.email %></span></div>
                    <div class="ar-cno ar-info-line">Customer No: <span class="ar-value"><%= user.custNo %></span></div>
                  </div>
                </div>

                <div class="ard-wrap stp-row">
                  <form class="cc-form-self" id="add-service" action="/customer/profile/submit" method="post">

                      <div class="row">
                        <div class="col-12">

                          <div class="form-group">

                              <div class="form-field mt-2">
                                  <span>Name</span>
                                  <div class="row">
                                      <div class="col-2">
                                          <div class="form-field-inner" >
                                              <select class="form-control" name="suffix" >
                                                  <option value="Mr." <%= user.suffix == "Mr." ? "selected":"" %>>Mr</option>
                                                  <option value="Ms." <%= user.suffix == "Ms." ? "selected":"" %>>Ms</option>
                                                  <option value="Mrs." <%= user.suffix == "Mrs." ? "selected":"" %>>Mrs</option>
                                              </select>
                                          </div>
                                      </div>
                                  <div class="col-5">
                                      <div class="form-field-inner" >
                                          <input type="text" name="fname" placeholder="First Name" class="form-control" value="<%= user.firstName %>" required="required">
                                      </div>
                                  </div>
                                  <div class="col-5">
                                      <div class="form-field-inner">
                                          <input type="text" name="lname" placeholder="Last Name" class="form-control" value="<%= user.lastName %>" required="required">
                                      </div>
                                  </div>
                                  </div>

                              </div>

                              <div class="form-field mt-2">
                                  <span>Email to received notification</span>
                                  <input type="email" name="secondaryEmail" id="secondaryEmail" placeholder="Secondary Email" class="form-control" value="<%= ( user.secondaryEmail ? user.secondaryEmail : user.email ) %>" required="required">
                              </div>

                              <div class="form-field mt-2">
                                <span>Contact Number</span>
                                <div class="row">
                                  <div class="col-6">
                                    <input type="text" name="phone" placeholder="Contact Number" class="form-control" pattern="[0-9]*" value="<%= user.phone %>" required="required">
                                  </div>
                                  <div class="col-6">
                                    <input type="text" name="fax" placeholder="Fax Number" class="form-control" pattern="[0-9]*" value="<%= user.fax %>" required="required">
                                  </div>
                                </div>
                              </div>

                              

                              <div class="form-field mt-2">
                                <span>Address</span>
                                <div class="row">
                                  <div class="col-12">
                                      <div class="form-field-inner" >
                                        <input type="text" name="street" placeholder="Street" class="form-control" value="<%= user.street %>" >
                                      </div>
                                  </div>
                                </div>
                                <div class="row mt-2">

                                  <div class="col-3">
                                      <div class="form-field-inner" >
                                          <input type="text" name="city" placeholder="City" class="form-control" value="<%= user.city %>">
                                      </div>
                                  </div>
                                  <div class="col-3">
                                      <div class="form-field-inner">
                                          <input type="text" name="state" placeholder="State" class="form-control" value="<%= user.state %>">
                                      </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="form-field-inner">
                                      <input type="text" name="zipCode" placeholder="Postal Code" class="form-control" value="<%= user.zipCode %>">
                                    </div>
                                  </div>
                                  <div class="col-3">
                                    <div class="form-field-inner">
                                      <select id="country" name="country" class="form-control">
                                        <option value="">-</option>
                                          <% countries.forEach(country => { %>
                                            <% if(country.name) { %>
                                              <option value="<%= country.name %>" <%= (user ? (user.country == country.name ? "selected" : "") : "") %>> <%= country.name %></option>
                                            <% } %>
                                          <% }) %>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="form-field-inner" >
                                <span>I would like to be addressed with:</span>
                                <select class="form-control" name="nameAddress" >
                                    <option value="firstName" <%= user.nameAddress == "firstName" ? "selected":"" %>>First Name</option>
                                    <option value="lastName" <%= user.nameAddress == "lastName" ? "selected":"" %>>Last Name</option>
                                </select>
                              </div>

                              <div class="form-group mt-2 text-center">
                                  <input type="hidden" name="id" value="<%= user._id %>">
                                  
                                  <a class="btn btn-solid-lg btn-default" href="/customer/profile">Cancel</a>
                                  <input type="submit" class="btn btn-solid-lg btn-blue" value="Update Details">
                              </div>

                          </div>

                        </div>

                      </div>


                  </form>

                  
                </div>
                
              </div>
          </div>


        </div>
      </div>
    </section>
