

    <section class="tm-section qa-panel-section">
      <div class="container h-100">
        <div class="row h-100 align-items-start">
          <div class="col-12">

              <% if (flash.success) { %>
              <div class="alert alert-success" role="alert">
                <strong><%= flash.success %></strong>
              </div>
              <% } %>
        
              <% if (flash.error) { %>
                <div class="alert alert-warning" role="alert">
                  <strong><%= flash.error %></strong>
                </div>
              <% } %>

              <div class="ar-wrap qa-stp">
                <div class="ar-box stp-row">
                  <div class="ar-box-head"><h1 class="ar-title">Profile</h1></div>
                  <div class="ar-cinfo">
                    <%
                      const capitalize = (s) => {
                        if (typeof s !== 'string') return ''
                        return s.charAt(0).toUpperCase() + s.slice(1)
                      }

                      let name = ""
                      if ( user.firstName && user.lastName) {
                        name = (user.suffix ? user.suffix : '') + " " + capitalize(user.firstName) + " " + capitalize(user.lastName)
                      } else {
                        name = user.name
                      }
                    %>
                    <div class="ar-cname ar-info-line">Customer Name: <span class="ar-value"><%= name %></span></div>
                    <div class="ar-cno ar-info-line">Customer Email: <span class="ar-value"><%= user.email %></span></div>
                    <div class="ar-cno ar-info-line">Customer No: <span class="ar-value"><%= user.custNo %></span></div>
                  </div>
                </div>

                <div class="ard-wrap stp-row">
                  

                      <div class="row">
                        <div class="col-12">

                          <div class="form-group profile-text-format">

                              <div class="form-field mt-2">
                                  
                                <span>Name: </span>
                                <%= user.suffix %> <%= user.firstName %> <%= user.lastName %>

                              </div>

                              <div class="form-field mt-2">
                                  <span>Email to received notification: </span>
                                  <%= ( user.secondaryEmail ? user.secondaryEmail : user.email ) %>
                              </div>

                              <div class="form-field mt-2">
                                <span>Contact Number:</span>
                                <div class="row">
                                  <div class="col-6">
                                    <span>Phone: </span><%= user.phone %>
                                  </div>
                                  <div class="col-6">
                                    <span>Fax: </span><%= user.fax %>
                                  </div>
                                </div>
                              </div>

                              <div class="form-field mt-2">
                                <span>Address:</span>
                                <div class="row">
                                  <div class="col-12">
                                    <span>Street: </span><%= user.street %>
                                  </div>
                                  <div class="col-3">
                                    <span>City: </span><%= user.city %>
                                  </div>
                                  <div class="col-3">
                                    <span>State: </span><%= user.state %>
                                  </div>
                                  <div class="col-3">
                                    <span>Postal Code: </span><%= user.zipCode %>
                                  </div>
                                  <div class="col-3">
                                    <span>Country: </span><%= user.country %>
                                  </div>
                                </div>
                                
                              </div>


                              <div class="form-group mt-4 text-center">
                                <a class="btn btn-solid-lg btn-blue" href="/customer/profile/edit">Edit Profile</a>
                              </div>

                              

                          </div>

                        </div>

                      </div>




                  
                </div>
                
              </div>
          </div>


        </div>
      </div>
    </section>
