

<div class="container">
    <div class="row justify-content-center align-items-center box-bg-container">

		<div class="col-md-12">
					
			

			<div id="search" class="search-article">
				<form method="POST" action="/blog">
				
					<div class="input-group search-block">

						<button type="submit">
							<i class="fa fa-search"></i>
						</button>
						<input type="text" class="form-control" name="articleName" placeholder="Search Articles">

					</div>
				</form>
			</div>

			<h2>Articles</h2>
			
		</div>

        <div class="col-md-12">
			
			<% if (flash.success) { %>
			<div class="alert alert-success" role="alert">
				<strong><%= flash.success %></strong>
			</div>
			<% } %>

			<% if (flash.error) { %>
				<div class="alert alert-warning" role="alert">
					<strong><%= flash.error %></strong>
				</div>
			<% } %>
			
                    
			<ul class="articleList">
				<% for (var key in articles) { %>
				<li><a href="/blog/<%= articles[key].post_name %>"><span><%= moment(articles[key].post_date).format('MMM D, YYYY') %></span><%= articles[key].post_title %></a></li>
				<% } %>
			</ul>

               
        </div>
    </div>
</div>