

<div class="container">
    <div class="row justify-content-center align-items-center box-bg-container">

		<div class="col-md-12">
					
			<h2><%= article.title %></h2>
			<p class="articleDate">Date Published: <%= moment(article.created_at_formatted).format('MMM D, YYYY') %></p>
		</div>

        <div class="col-md-12">
			
			<% if (flash.success) { %>
			<div class="alert alert-success" role="alert">
				<strong><%= flash.success %></strong>
			</div>
			<% } %>

			<% if (flash.error) { %>
				<div class="alert alert-warning" role="alert">
					<strong><%= flash.error %></strong>
				</div>
			<% } %>
                    
		
			<%- article.content %>
               
		</div>
		
		<div class="col-md-12 text-center">
			<button class="btn btn-primary" onclick="window.history.back()">Back</button>
		</div>
    </div>
</div>