<div class="container">

    <div class="row justify-content-center box-bg-container">
        <div class="col-md-12 prices-block">
            <p style="text-align: right;font-size:12px;"> Prices are in U.S Dollars</p>

            <div class="card">

                <div class="card-body"> 
                    <nav style="color: black;">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <% for (var key in continents) { if (continents[key].countries.length) { %>
                                <a class="nav-item nav-link <%= key == 0 ? 'active' : '' %>" id="nav-<%= continents[key].name.replace(/\s/g, '_').toLowerCase() %>-tab" data-toggle="tab" href="#nav-<%= continents[key].name.replace(/\s/g, '_').toLowerCase() %>" role="tab" aria-controls="nav-<%= continents[key].name.replace(/\s/g, '_').toLowerCase() %>" aria-selected="<%= key == 0 ? 'true' : '' %>"><%= continents[key].name %></a>
                            <% } } %>

                        </div>
                    </nav>
                    
                    <div class="tab-content" id="nav-tabContent">
                        <% for (var key in continents) { if (continents[key].countries.length) { %>
                            <div class="tab-pane fade <%= key == 0 ? 'active show' : '' %>" id="nav-<%= continents[key].name.replace(/\s/g, '_').toLowerCase() %>" role="tabpanel" aria-labelledby="nav-<%= continents[key].name.replace(/\s/g, '_').toLowerCase() %>-tab">
                                
                                <!-- PRICE TABLE STARTS -->
                                <table class="table table-hover">
                                    <thead>
                                        <tr style="background:#F9F9F9;">
                                            <td> </td>
                                            <td colspan="2"> TM Comprehensive Study</td>
                                            <td colspan="2"> TM Registration Request</td>
                                            <td colspan="2"> TM Registration Certificate</td>
                                        </tr>
                                
                                        <tr>
                                            <td> Country</td>
                                            <td> First Class</td>
                                            <td> Additional Class</td>
                                            <td> First Class</td>
                                            <td> Additional Class</td>
                                            <td> First Class</td>
                                            <td> Additional Class</td>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <% for (var ckey in continents[key].countries) { %>
                                            <tr>
                                                <td> 
                                                    <a href="/trademark-registration-in-<%= continents[key].countries[ckey].name.replace(/\s/g, '_').toLowerCase() %>" >
                                                        <% if( continents[key].countries[ckey].avatar && continents[key].countries[ckey].avatar != "Test") { %><img src="images/<%= continents[key].countries[ckey].avatar %>"><% } %><%= continents[key].countries[ckey].name %>
                                                    </a>
                                                </td>
                                                <td><%= prices[continents[key].countries[ckey].id].study ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].study.initial_cost) : '' %></td>
                                                <td><%= prices[continents[key].countries[ckey].id].study ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].study.additional_cost) : '' %></td>
                                                <td><%= prices[continents[key].countries[ckey].id].registration ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].registration.initial_cost) : '' %></td>
                                                <td><%= prices[continents[key].countries[ckey].id].registration ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].registration.additional_cost) : '' %></td>
                                                <td><%= prices[continents[key].countries[ckey].id].certificate ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].certificate.initial_cost) : '' %></td>
                                                <td><%= prices[continents[key].countries[ckey].id].certificate ? helpers.getPriceFormatted(prices[continents[key].countries[ckey].id].certificate.additional_cost) : '' %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <!-- PRICE TABLE ENDS -->

                            </div>
                        <% } }%>
                        
                    </div>
                  
                    <h4 style="padding-top: 50px;color: #000;">Additional fees may be incurred on the following cases:</h4>
                    <ol style="max-width:648px;line-height:24px">
                        <li>Upon filing of the Statement of Use indicated in the Notice of Allowance which is issued after the publication stage.  This is only applicable for US trademarks filed under Section 1b.</li>
                        <li>When oppositions and objections are raised by third parties and USPTO respectively.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>