<div class="container">
    <div class="row justify-content-center box-bg-container">

    	<div class="col-md-12" style="text-align: center; padding: 10px 0px 40px 0px;">
    		<h2>Videos</h2>
    		<hr>
        </div>
        <% for (var key in videos) { %>
            <div class="col-md-3" style="position: relative; left: 0px; top: 0px; margin-bottom: 40px;">
                <a href="/videos/<%= videos[key].slug %>">
                    <img src="https://img.youtube.com/vi/<%= videos[key].youtubeId %>/hqdefault.jpg" width="100%" alt="" style="position: relative;"> 
                    <img src="/images/video.png" width="30%" style="position: absolute; bottom: 85px; left: 33%;">
                </a> 
                <a style="display: block;" href="/videos/<%= videos[key].slug %>" style="font-weight: bold;"><%= videos[key].title %></a> 
                <em> Published on: <%= moment(videos[key].created_at_formatted).format('MMM D, YYYY') %></em>
            </div>
        <% } %>
        
       
    </div>
</div>