<div class="col-md-12" style="margin-bottom:20px;">    
    <h2>Edit Trademark
    </h2>

    <% if(trademark) { %>

    <div class="ar-cname ar-info-line">Order #: <strong style="text-transform: capitalize;"><%= trademark.orderCode %></strong></div>
    <div class="ar-cname ar-info-line">Trademark: <strong style="text-transform: capitalize;"><%= trademark.mark %></strong></div>
    <div class="ar-cname ar-info-line">Status: <strong style="text-transform: capitalize;"><%= trademark.status %></strong></div>
    <div class="ar-cname ar-info-line">Status Date: <strong style="text-transform: capitalize;"><%= moment(trademark.statusDateFormatted).format('MMM D, YYYY') %></strong></div>
    <div class="ar-cname ar-info-line">Status Description: <strong style="text-transform: capitalize;"><%= trademark.statusDescription %></strong></div>
    <div class="ar-cname ar-info-line">Service: <strong style="text-transform: capitalize;"><%= trademark.serviceType %></strong></div>
    
    <% if( trademark.registrationNumber ) { %>
    <div class="ar-cname ar-info-line">Registration Number: <strong style="text-transform: capitalize;"><%= trademark.registrationNumber %></strong></div>
    <% } %>

    <form class="row" action="/njs-admin/manage/trademark/edit/<%= trademark._id %>" method="post" encType="multipart/form-data">

    

        <div class="col-md-12">
            <hr>

            <div class="form-group">
                <label>Serial Number</label>
                <input type="text" class="form-control" value="<%= trademark.serialNumber %>" placeholder="" name="serialNumber">
            </div>

        </div>

        <div class="col-md-12">

            <div class="form-group">
                <label>Trademark Certificate</label>
                <input type="file" class="form-control" placeholder="" name="certificate" >
            </div>

        </div>

        <div class="col-md-12">

            <div class="form-group">
                <label>Add Additional Fee(s) <span class="containerAddFeesBtn"><i class="fa fa-plus"></i></span></label>
                <div id="containerAddFees" class="containerAddFees">
                </div>
            </div>

        </div>
 
        

        <div class="col-md-12">
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Update</button>
            </p>
        </div>

    </form>
    <% } %>
</div>
        

