<div class="row" style="margin-bottom:20px;">    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/njs-admin/manage/trademark/">Manage Trademarks</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= trademark.mark %></li>
      </ol>
    </nav>

    <% if(trademark) { %>

    <div class="col-12">
      <table class="table">
        <tr>
          <th>Order #</th>
          <th>Mark</th>
          <th>Service</th>
          <th>Type</th>
          <th>Class</th>
          <th>Country</th>
          <th>Color Claim</th>
          <th>Commerce</th>
          <th>Priority</th>
        </tr>

        

        <tr>
          <td><%= trademark.orderCode %></td>
          <td><%= trademark.mark %></td>
          <td>Trademark <span style="text-transform: capitalize;"><%= trademark.serviceType %></span></td>
          <td>
            <% let typeFormat; 
              if( trademark.type ) { 
              
              
              if (trademark.type == 'word') {
                typeFormat = 'Word Only'
              } else if(trademark.type == 'logo') {
                typeFormat = 'Design-Only or Stylized Word-Only (Figurative)'
              } else if(trademark.type == 'lword') {
                typeFormat = 'Combined Word and Design'
              } else {
                typeFormat = ''
              }
            } %>
            <%= typeFormat %>
            <% if(trademark.logoPic) { %>
              <a target="_blank" href="/uploads/<%= trademark.logoPic %>"><img style="max-height:20px" src="/uploads/<%= trademark.logoPic %>"></a>
            <% } %>
          </td>
          <td>
            <% if ( Array.isArray(trademark.class) ) { %>
              <% for (var key in trademark.class) { %>
                <%= trademark.class[key] %> - <%= trademark.description[key] %><br>
              <% } %>
            <% } else { %>
              <%= trademark.class %> - <%= trademark.description %>
            <% } %>
          </td>
          <td>
            <%= trademark.country %>
          </td>
          <td><%= trademark.colorClaim == 'yes' ?  (trademark.colorClaimText ? trademark.colorClaimText : 'yes') : 'no' %></td>
          <td><%= trademark.commerce %></td>
          <td>
            <%= trademark.priority %>
            <% if( trademark.priority == 'yes' ) { %>
              <div class="ar-cname ar-info-line">Country of Origin: <strong><%= trademark.origin %></strong></div>
              <div class="ar-cname ar-info-line">Date: <strong><%= trademark.originDate %></strong></div>
              <div class="ar-cname ar-info-line">Serial Number: <strong><%= trademark.originTm %></strong></div>
            <% } %>
          </td>
        </tr>
      </table>

    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">TSDR Info</h4>
        <table class="table table-striped table-hovered">
          <tr>
            <th>Serial Number:</th>
            <td><%= trademark.serialNumber %></td>
          </tr>
          <tr>
            <th>Registration Number:</th>
            <td><%= trademark.registrationNumber %></td>
          </tr>
          <tr>
            <th>Registration Date:</th>
            <td><%= trademark.registrationDate %></td>
          </tr>
          <tr>
            <th>Publication Date:</th>
            <td><%= trademark.publicationDateFormatted ? moment(trademark.publicationDateFormatted).format('MMM D, YYYY') : '' %></td>
          </tr>
        </table>
      </div>
    </div>

    <% if( trademark.nature == "Company" ) { %>
    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">Company Information</h4>
        <table class="table table-striped table-hovered">
          <tr>
            <th>Company:</th>
            <td><%= trademark.company %></td>
          </tr>
          <tr>
            <th>Street:</th>
            <td><%= trademark.street %></td>
          </tr>
          <tr>
            <th>City:</th>
            <td><%= trademark.city %></td>
          </tr>
          <tr>
            <th>State:</th>
            <td><%= trademark.state %></td>
          </tr>
          <tr>
            <th>Postal Code:</th>
            <td><%= trademark.companyZipCode %></td>
          </tr>
        </table>

        <h4 class="m-2">Representative Information</h4>
        <table class="table table-striped table-hovered">
          <tr>
            <th>Name:</th>
            <td><%= trademark.fname %> <%= trademark.lname %></td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td><%= trademark.phone %></td>
          </tr>
          <tr>
            <th>Fax:</th>
            <td><%= trademark.fax %></td>
          </tr>
          <tr>
            <th>Position:</th>
            <td><%= trademark.position %></td>
          </tr>
          <tr>
            <th>Street:</th>
            <td><%= trademark.repStreet %></td>
          </tr>
          <tr>
            <th>City:</th>
            <td><%= trademark.repCity %></td>
          </tr>
          <tr>
            <th>State:</th>
            <td><%= trademark.repState %></td>
          </tr>
          <tr>
            <th>Postal Code:</th>
            <td><%= trademark.repZipCode %></td>
          </tr>
          <tr>
            <th>Country:</th>
            <td><%= trademark.repCountry %></td>
          </tr>
        </table>
      </div>
    </div>
    <% } %>

    <% if( trademark.nature == "Individual" ) { %>
    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">Contact Information</h4>
        <table class="table table-striped table-hovered">
          <tr>
            <th>Name:</th>
            <td><%= trademark.fname %> <%= trademark.lname %></td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td><%= trademark.phone %></td>
          </tr>
          <tr>
            <th>fax:</th>
            <td><%= trademark.fax %></td>
          </tr>
          <tr>
            <th>Street:</th>
            <td><%= trademark.repStreet %></td>
          </tr>
          <tr>
            <th>City:</th>
            <td><%= trademark.repCity %></td>
          </tr>
          <tr>
            <th>State:</th>
            <td><%= trademark.repState %></td>
          </tr>
          <tr>
            <th>Postal Code:</th>
            <td><%= trademark.repZipCode %></td>
          </tr>
          <tr>
            <th>Country:</th>
            <td><%= trademark.repCountry %></td>
          </tr>
        </table>
      </div>
    </div>
    <% } %>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">TSDR Document(s)</h4>
        <% if( trademark.documents && trademark.documents.length > 0 ) { %>
          <table class="table table-striped table-hovered">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>File</th>
            </tr>
          <% trademark.documents.forEach(function(document,key) { %>
            
            <tr>
              <td><%= document.date %></td>
              <td><%= document.label %></td>
              <td><a href="<%= document.link %>" target="_blank"><i class="fa fa-file text-danger"></i></a></td>
              
              
            </tr>
          <% }) %>
          </table>
        <% } %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">Customer Supporting Document(s)</h4>
        <% if( trademark.supportingDocs && trademark.supportingDocs.length > 0 ) { %>
          <table class="table">
            <tr>
              <th>Date</th>
              <th>Notes</th>
              <th>File</th>
            </tr>
          <% trademark.supportingDocs.forEach(function(document,key) { %>
            <tr>
              <td><%= document.created_at %></td>
              <td><%= document.notes %></td>
              <td><a target="_blank" href="/uploads/<%= document.file %>" target="_blank"><i class="fa fa-file text-danger"></i></a></td></td>
            </tr>
          <% }) %>
          </table>
        <% } %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="m-2">Added Service(s)</h4>
        <% if( trademark.otherServices  ) { %>
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Notify</th>
              <th>Status</th>
            </tr>
          <% trademark.otherServices.forEach(function(addedService,key) { %>
            <tr>
              <th><%= addedService.addAmountDescription %></th>
              <th><%= addedService.addAmount %></th>
              <th><%= addedService.isMailed %></th>
              <th><%= addedService.status %></th>
            </tr>
          <% }) %>
          </table>
        <% } %>
      </div>
    </div>

    

    

    <div class="col-md-12">
      <p class="text-center mt-3">
        <a class="btn btn-primary" style="padding-left:40px;padding-right:40px;" href="/njs-admin/manage/trademark/edit/<%= trademark._id %>">Edit</a>
      </p>
    </div>

    <% } %>
</div>
        

