<html>
  <head>
    <title>Trademarkers Notification | IMPORTANT!! Please read carefully</title>
  <style>
    body, p{
      font-size: 11.0pt;
      font-family: Consolas;
      line-height: 14pt;
    }
    p{
      margin:0;
    }
  </style>
  </head>
  <body>
<!-- IMPORTANT NOTICE HERE -->
<p style="font-weight:600">
+++ IMPORTANT!! Please read carefully +++<br>
+++ Non-response may result in loss of your trademark +++</p>
<p style="margin:0">&nbsp;</p>
<p >
  <% 
  let name = mailData.user.name.split(',')
  %>
  Dear <%= name[1] ? name[1].trim() : 'Trademarkers Client' %>,
</p>
<p style="margin:0">&nbsp;</p>
<p >We still have not received any response from you in regards to the “Notice of Allowance” that was issued on <%= mailData.dateFiledFormatted %>, and you only have a <%= mailData.numberOfWeeks %> weeks left to file the “Statement of Use” or get an extension. In case you do neither, your trademark application is considered abandoned, and your trademark protection will be cancelled.
<p style="margin:0">&nbsp;</p>
<p >In case you are unable to declare use right now, you can file for an extension and get another 6 months (but there are limits after that).
</p>
<p >If you decide not to use the mark and want to abandon the entire process, please also let me know so we can close the file.
</p>
<p >You can respond with the following link, which is self-explanatory:<br>
<a href="https://www.trademarkers.com/<%= mailData.number %>/statement-of-use" target="_blank" >
  https://www.trademarkers.com/<%= mailData.number %>/statement-of-use
</a>
</p>

<% if ( showUsptoLink ) { %>
<p style="margin:0">&nbsp;</p>
<p style="margin:0">
  You can see this "Notice of Allowance" (and the continued progress of your trademark application) in the database of the USPTO at: <br>
  <a href="https://tsdr.uspto.gov/documentviewer?caseId=<%= mailData.serialNumber %>" target="_blank" >
    https://tsdr.uspto.gov/documentviewer?caseId=<%= mailData.serialNumber %>
  </a>
</p>
<% } %>

<p style="margin:0">&nbsp;</p>
<p style="margin:0">&nbsp;</p>
<p >Best regards,
</p>
<p style="margin:0">&nbsp;</p>
<p style="margin:0">&nbsp;</p>
<p >Michael</p>
<p >Customer Service Specialist</p>
<p style="margin:0">&nbsp;</p>
<p style='font-size:14.0pt;font-family:"Tahoma","sans-serif";margin:0;font-weight:800'>TRADEMARKERS LLC</p>
<p><i><span style='font-size:10.0pt;font-family:"Tahoma","sans-serif";margin:0;'><a href="http://www.trademarkers.com" target="_blank">www.trademarkers.com</a></span></i></p>

</body>
</html>