<html>
  <head>
    <title>Trademarkers Notification | IMPORTANT!! Please read carefully</title>
  </head>
  <body>

<p>
Dear <%= mailData.user.name ? mailData.user.name : 'Trademarkers Client' %>
<br><br>

I wanted to follow up with you, as until now we have not year received any response from you how to handle the “Notice of Allowance” that was issued on <%= mailData.dateFiledFormatted %>.
<br><br>
As a reminder, the United States Patent and Trademark Office (USPTO) has issued a “Notice of Allowance” (NOA), which means that in principle you have received the green light for your brand <%= mailData.trademark.name %> to be registered as a trademark, but unlike many other trademark jurisdictions, the USPTO makes the registration of a trademark dependent on actual use, and a “Statement of Use” must be made before the 6 month deadline after issuance (<%= mailData.dateDeadFormatted %>).
<br><br>
In case you are unable to declare use right now, you can file for an extension and get another 6 months (but there are limits after that).
<br><br>
Please click on the following link, which is self-explanatory: 
<a href="https://www.trademarkers.com/<%= mailData.number %>/statement-of-use" target="_blank" >
Review Options
</a>

<br><br>

Best regards,
<br><br>

Michael<br>
-------<br>
Customer Service Specialist, Trademarkers LLC<br>
www.trademarkers.com<br>
</p>
</body>
</html>